[2016-11-19 09:48] stevermeister opened #1 "extend docs with more examples"
- simple attribute
- different masks
- ngModel use
- formControl (for reactive forms)

[2016-11-19 09:49] stevermeister opened #2 "apply more patters for the mask"
Not only numbers

Could be taken from here - https://igorescobar.github.io/jQuery-Mask-Plugin/

[2016-11-19 09:49] stevermeister opened #3 "github pages with presentation and examples"

[2016-11-20 23:14] ebosantos opened #4 "Errors while compiling"
ERROR in [default] .../node_modules/ng2-mask/src/app/ng2-mask/mask.directive.ts:70:45
Property 'includes' does not exist on type 'string[]'.

ERROR in [default] .../node_modules/ng2-mask/src/app/ng2-mask/mask.directive.ts:81:37
Property 'includes' does not exist on type 'string[]'.

Changed to indexOf > -1 and it's working fine.

Tks

[2016-11-21 12:32] stevermeister commented on #4
@ebosantos thanks for feedback!
we are still trying to figure out what structure to take to have DIST and SRC workable.
will produce fix with next update. and  sorry for unstable version

[2016-11-24 19:32] netstart opened #5 "Need define optional caractere"
We need define opcional caractere in the pattern

[2016-12-03 18:37] stevermeister commented on #4
@ebosantos
fixed, please check

[2016-12-03 18:37] #4 closed

[2016-12-03 18:38] stevermeister commented on #5
@netstart could you provide an example please?

[2016-12-03 18:39] stevermeister commented on #1
https://nepipenkoigor.github.io/ng2-mask/

[2016-12-03 18:39] #1 closed

[2016-12-03 18:39] stevermeister commented on #2
done

[2016-12-03 18:39] #2 closed

[2016-12-03 18:40] stevermeister commented on #3
https://nepipenkoigor.github.io/ng2-mask/

[2016-12-03 18:40] #3 closed

[2017-01-18 15:23] ozknemoy commented on #5
for example

[2017-01-18 15:27] ozknemoy commented on #5
for example for different lang
{'Ё': /[a-zA-Zа-яА-ЯёЁ]/}
this._maskAwaliablePatterns = {
            '0': /\d/,
            '9': /\d/,
            'A': /[a-zA-Z0-9]/,
            'S': /[a-zA-Z]/,
            'Ё': /[a-zA-Zа-яА-ЯёЁ]/
        };

[2017-01-20 16:15] daviddiefenderfer opened #7 "ERROR in Ng2MaskModule is not an NgModule"
Has anyone ran into this error? I did the install and
`import { Ng2MaskModule } from 'ng2-mask';`
then added it to my imports in the `app.module` and get
`ERROR in Ng2MaskModule is not an NgModule` when running ng serve

Curious if this is something anyone has run into before I start digging around

[2017-01-22 15:52] NepipenkoIgor commented on #7
Thanks you very much  for you  feedback. We found out that new version of typescript had broken the library. Now it should be fix, please check it.

[2017-01-22 15:53] NepipenkoIgor commented on #7
Thanks you very much for you feedback. We found out that new version of typescript had broken the library. Now it should be fix, please check it.

[2017-01-22 15:54] NepipenkoIgor commented on #7
Thanks you very much for you feedback. We found out that new version of typescript had broken the library. Now it should be fix, please check it.

[2017-01-22 18:09] daviddiefenderfer commented on #7
Awesome this fixed it, thanks for the quick resolution

[2017-01-22 18:09] #7 closed

[2017-02-23 15:04] henriquecustodia opened #9 "Documentation"
I'm very interest to use this module but I need a documentation to understand at least the mask pattern.

This module is alive yet?

I can contribute with if it help.

Thanks.

[2017-02-24 16:04] NepipenkoIgor commented on #9
@henriquecustodia We have only demo
https://nepipenkoigor.github.io/ng2-mask/

It will be perfect if you help with documentation and other things

[2017-02-24 16:12] henriquecustodia commented on #9
Sure, I'll try help to improve the doc.

Will you add unmask functionality yet? Has some issue about this?

[2017-02-24 16:18] NepipenkoIgor commented on #9
unmask functionality - no . We can discuss and add new issues

[2017-03-02 13:22] henriquecustodia commented on #9
Sure.

The unmask functionality is just cleans the value goes to model, but the html field value continues masked.
It's very useful to avoid use sanitizes functions out the directive.

[2017-03-14 13:49] jfrazier007 opened #10 "JS ERROR SyntaxError: Importing binding name 'Input' is not found."
Has anyone experienced the following error when using Ng2MaskModule in an Angular 2 /Nativescript project?

When I add the module dependency into the app.module.ts file, I get the following error.
JS ERROR SyntaxError: Importing binding name 'Input' is not found.

Thanks!

[2017-04-20 12:44] victorschinaider opened #11 "More digits at FormControl that was typed"
**TEMPLATE**

[code]

When i type more digits that was defined in mask, strange behavior happens, the last typed digit in definied in FormControl value, so the value has one more digit.

![image](https://cloud.githubusercontent.com/assets/16581931/25231161/2daef888-25ad-11e7-9c23-b12cea412b41.png)

[2017-05-05 19:39] rodolfocop commented on #5
I think that would be something simple!
**Add to directive**

`
@Input('maskOptionsPatterns')
  maskOptionsPatterns: any = {};

  ngAfterViewInit() {
    this._maskAwaliablePatterns = Object.assign({}, this._maskAwaliablePatterns, this.maskOptionsPatterns);
  }
`
**And to input**

`
[mask-options-patterns]="{ key: 'Ё': /[a-zA-Zа-яА-ЯёЁ]/}"
`

[2017-05-09 18:30] NepipenkoIgor commented on #11
@victorschinaider Thanks for issue, we will update our module. If you want you could help with it

[2017-05-09 19:47] victorschinaider commented on #11
@NepipenkoIgor , thanks! I'll study the code too...

[2017-05-10 02:13] victorschinaider commented on #10
Can you provide some code?

[2017-05-10 15:41] victorschinaider commented on #11
@NepipenkoIgor, i fixed the bug in the forked repo. I'll create a merge reques soon. I updated to the lastest Angular/cli too.

Could i propose a change in layout of examples? Instead using bootstrap, maybe the Material2, what do you think?

[2017-05-10 19:10] NepipenkoIgor commented on #11
@victorschinaider i think it will be awesome

[2017-05-16 15:21] #11 closed

[2017-05-19 05:58] deepakzoto opened #14 "Import Problem"
I am getting this error  while executing 'ng serve':

ERROR in Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function (position 10:22 in the original .ts file), resolving symbol Ng2MaskModule in D:/GitWork/web-ui/node_modules/ng2-mask/build/ng2-mask.module.js, resolving symbol AppMod

[2017-05-19 08:00] NepipenkoIgor commented on #14
@deepakzoto Hi, you used old version 0.5.2 (it was corrupted version) . Please use last release. Now current version is 1.0.1

[2017-05-19 08:00] #14 closed

[2017-05-21 17:51] #10 closed

[2017-05-21 17:51] #9 closed

[2017-05-26 03:38] wqdjl opened #18 "error when use in angular2 version 2.4.6"
"Error: Can't resolve all parameters for MaskDirective: ([object Object], ?).
    at SyntaxError.ZoneAwareError (http://0004.saas.com:6999/polyfills.bundle.js:9956:33)
    at SyntaxError.BaseError [as constructor] (http://0004.saas.com:6999/vendor.bundle.js:94487:16)
    at new SyntaxError (http://0004.saas.com:6999/vendor.bundle.js:11305:16)
    at CompileMetadataResolver._getDependenciesMetadata

[2017-05-26 10:01] victorschinaider commented on #18
Are you using angular cli?

[2017-05-31 00:15] erickkenji commented on #18
got the same error

[2017-05-31 01:34] victorschinaider commented on #18
@erickkenji, could you give us more details? Ara you using angular cli? What version? What version of Angular are you using?

[2017-05-31 01:37] victorschinaider commented on #18
@erickkenji, and could provide us with some code of the input, and the AngularModule that the component is inside of?

[2017-05-31 02:33] wqdjl commented on #18
@victorschinaider    "angular-cli": "1.0.0-beta.28.3",

[2017-06-01 02:59] wqdjl commented on #18
compiling error :
ERROR in Error encountered resolving symbol values statically. Calling function 'ɵmakeDecorator', function calls
are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving
symbol NgModule in E:/saas/Code/Phoenix2.0/node_modules/ng2-mask/node_modules/@angular/core/core.d.ts, resolving
symbol Ng2MaskModule in E:/saas/Code/Phoeni

[2017-06-01 03:09] wqdjl commented on #18
It could be for this reason,
![image](https://cloud.githubusercontent.com/assets/14515076/26663037/a95e84de-46ba-11e7-8e53-ccb2ab6ecb01.png)

[2017-06-01 03:10] wqdjl commented on #18
@victorschinaider  could you help me

[2017-06-01 06:30] NepipenkoIgor commented on #18
In my opinion you should use actual version not beta.

[2017-06-01 08:36] wqdjl commented on #18
upgrade cli : "@angular/cli": "^1.1.0",
but error not repair
![image](https://cloud.githubusercontent.com/assets/14515076/26671523/63a66f96-46e8-11e7-82c1-d30783005346.png)

[2017-06-01 08:36] wqdjl commented on #18
"Error: Unexpected value 'Ng2MaskModule' imported by the module 'PhoenixCommonModule'
    at SyntaxError.ZoneAwareError (http://0004.saas.com:4999/polyfills.bundle.js:30263:33)
    at SyntaxError.BaseError [as constructor] (http://0004.saas.com:4999/vendor.bundle.js:15876:16)
    at new SyntaxError (http://0004.saas.com:4999/vendor.bundle.js:35698:16)
    at http://0004.saas.com:4999/vendor.bundle

[2017-06-01 09:05] wqdjl commented on #18
![image](https://cloud.githubusercontent.com/assets/14515076/26672621/637e571e-46ec-11e7-9fb0-e43363e2c0da.png)
the error can repair when upgrade ts

[2017-06-01 09:08] wqdjl commented on #18
ng2-mask can not use in angular 2.XX
because Renderer2 not in angular 2.XX, and MaskDirective use Renderer2

[2017-06-01 09:09] wqdjl commented on #18
@erickkenji

[2017-06-01 10:08] victorschinaider commented on #18
@wqdjl , i think we can modify to old Renderer for now.

[2017-06-02 02:03] wqdjl opened #19 "can you keep the decimal point two"
eg.  *.00

[2017-06-02 02:07] victorschinaider commented on #19
Nice!

[2017-06-02 06:57] NepipenkoIgor commented on #18
@victorschinaider In my opinion we should use last version  ( Google way ) . But if it is issue important for community we should change it for old. Could You do this as hot fix ?

[2017-06-07 19:01] Sevensnake opened #20 "input trying to load data"
when using a click function to pass json object to input text box nothing shows. It works if I type it in but not loading.

ERROR Error: Uncaught (in promise): TypeError: inputValue.split is not a function
TypeError: inputValue.split is not a function
    at MaskDirective._applyMask (mask.directive.js:94)
    at MaskDirective.writeValue (mask.directive.js:72)

[2017-06-07 19:02] Sevensnake commented on #18
on textbox load object data or send to textbox I get this.
ERROR Error: Uncaught (in promise): TypeError: inputValue.split is not a function
TypeError: inputValue.split is not a function
    at MaskDirective._applyMask (mask.directive.js:94)
    at MaskDirective.writeValue (mask.directive.js:72)

[2017-06-08 05:12] NepipenkoIgor commented on #20
@Sevensnake Сould you provide some code snippet ?

[2017-06-08 05:14] NepipenkoIgor commented on #18
@Sevensnake related to #20

[2017-06-08 14:56] elfpileggi opened #22 "Problem when I build for production in Angular-Cli"
When I try execute ng build --prod or ng build --prod --aot always returns the error below:

`
ERROR in Error encountered resolving symbol values statically. Could not resolve type Document (position 40:41 in the original .ts file), resolving symbol MaskDirective in /home/username/Documents/my-project/node_modules/ng2-mask/build/mask.directive.d.ts

ERROR in ./src/main.ts
Module not found: Error:

[2017-06-08 15:16] victorschinaider commented on #22
We'll look this problem, thanks!

[2017-06-11 16:44] #20 closed

[2017-06-11 16:44] #22 closed

[2017-06-11 17:06] NepipenkoIgor commented on #18
@wqdjl ,@erickkenji Could you check update ??

[2017-06-17 07:37] #18 closed

[2017-06-19 11:56] brevleq opened #24 "Can it work with ionic's ion-input?"
Hi, I tried use your directive with Ionic 2 ion-input, however nothing happened:

    <ion-item>
                <ion-label floating>CEP</ion-label>
                <ion-input type="text" name="cep" id="cep" #cepInput="ngModel"
                           [(ngModel)]="cliente.cep" specialCharacters="false" mask='00.000-000'
                           required></ion-input>
      </ion-item>

Is ther

[2017-06-20 08:52] wqdjl opened #25 "when input element focus or touched ,the element no class ng-touched"
class="form-control ng-valid ng-untouched ng-dirty"

after focus or touched should class="form-control ng-valid ng-touched ng-dirty"

[2017-06-22 15:55] victorschinaider commented on #25
It was implemented, i will make a pull request soon. Thanks.

[2017-06-22 15:55] victorschinaider commented on #24
I don't know, i will see something.

[2017-06-28 09:15] baihech opened #27 "How to input decimal?"
E.g 0.##,less than 1 and big than 0.

[2017-07-06 16:45] Arbuzov opened #28 "Function calls are not supported"
Im use this library at ng2-admin template. Then i run npm start i get.

`ERROR in Error encountered resolving symbol values statically. Function calls are not supported. Consider replacing the function or lambda with a reference to an exported function (position 194:50 in the original .ts file), resolving symbol NgModule in D:/My Documents/git/projectname/node_modules/ng2-mask/node_modules/@angula

[2017-07-07 17:42] cesargrano commented on #24
Please can you see why it does not work on IONIC or IONIC 2

[2017-07-08 19:49] cesargrano opened #29 "ionic 2"
No ion-input ionic 2 does not work, would have some solution for this

[2017-07-10 21:18] #28 closed

[2017-08-02 17:45] bernardold opened #30 "Mask doesn't work perfectly on mobile"
I want to use ngx-mask for a responsive angular4 project.

Tried in the example at https://nepipenkoigor.github.io/ngx-mask/ and on mobile browsers the inputs bug when a special character is inputted by its mask. It acts like the cursor goes 1 character back

[2017-08-21 19:56] RenatoSilveiraGomes commented on #30
Same here.

[2017-08-22 07:40] xorost opened #31 "Problem resetting the value of masked input field"
Passing null, undefined or empty string as the value for masked input does not reset its value as expected; masked input just does not change at all. Most likely it happens because of the check in [mask.directive.ts](https://github.com/NepipenkoIgor/ngx-mask/blob/master/src/app/ngx-mask/mask.directive.ts) method writeValue:
[code]
The only thing that works is setting input value to a string contai

[2017-08-25 16:15] digitalmedia34 opened #32 "Unexpected value 'NgxMaskModule'"
I am getting unexpected value 'NgxMaskModule; in my AppModule. This started to happen when I got the latest code. Did something changed? Any ideas?

I am using angular2

Thanks

![image](https://user-images.githubusercontent.com/5529666/29722499-062b5d38-898f-11e7-91c1-b11bd4572e54.png)

[2017-08-25 18:36] digitalmedia34 commented on #32
Update, removed the directive cleaned cache and now it doesn't throw error but the mask does not work. Any ideas on how to debug it?

[2017-08-25 18:52] digitalmedia34 commented on #32
It seems like it does not work with nested ngmodules.
But now im getting some other weird error: More than one custom value accessor matches form control with unspecified name attribute

[2017-09-04 02:07] lucianalml opened #33 "Field is losing pristine property"
Hi! First, thank you for your lib! It's being very useful...
I am only having a problem with obligatory fields validation because when I use a mask, the pristine property is set to false....

Thanks,

Luciana

[2017-09-04 20:00] jdgarvey commented on #31
@xorost
just had this problem and your space hack worked, thank you.

@NepipenkoIgor
Wondering if there really needs to be an "empty" check in `writeValue`?

[2017-09-26 15:02] LimarenkoDenis commented on #32
@digitalmedia34, I think it is not the problem of this library, just import module properly, or if you want to use the directive in different modules(nested modules or share) try to use this approach https://angular.io/guide/ngmodule#shared-modules.
Also, take a look at
 https://github.com/angular/angular/issues/15763

[2017-09-28 12:58] NepipenkoIgor commented on #30
@bernardold New version of ngx-mask available. You could check work of cursor and other options

[2017-09-28 13:01] NepipenkoIgor commented on #33
@lucianalml thanks , i will try to solve this issue

[2017-09-28 13:02] NepipenkoIgor commented on #32
@LimarenkoDenis Thanks. @digitalmedia34 What env does you use ?

[2017-09-28 13:28] NepipenkoIgor commented on #29
I didn't work with ionic , @cesargrano сould you help ?

[2017-09-29 02:55] dsouzas commented on #32
I've got the same issue adding the module NgxMaskModule without call forRoot().

After include NgxMaskModule.forRoot() into imports in app.module, the error changed to "Uncaught Error: Unexpected value '[object Object]' imported by the module 'AppModule'. Please add a @NgModule annotation.".

[2017-09-29 08:48] NepipenkoIgor commented on #32
@dsouzas Could you show package.json ? Do you use angular-cli ???

[2017-09-29 17:23] dsouzas commented on #32
Yes, I'm using angular-cli.

That's my package.json:

[code]

[2017-10-01 23:40] sharikovvladislav opened #37 "Is it possible to enter non-english characters with A/S mask?"
For example Russian letters :)

[2017-10-02 07:44] NepipenkoIgor commented on #37
@sharikovvladislav  yes , use configuration,
for example in module

[code]
or you could do this inline

[2017-10-02 07:44] #37 closed

[2017-10-02 08:14] sharikovvladislav commented on #37
True! Is it possible to add new characters in patterns block?

So 0 will work as 'out-of-the-box'?

[2017-10-02 08:17] NepipenkoIgor commented on #37
@sharikovvladislav  Yes,
 patterns:
        {
          'L': // some char
            {
              pattern: new RegExp('\[а-яА-Я\]')
            }
        }

[2017-10-02 09:29] sharikovvladislav commented on #37
True. Ty! Ty for your you awesome lib!

[2017-10-02 10:03] NepipenkoIgor commented on #37
@sharikovvladislav  Thanks

[2017-10-04 20:15] jadir-junior opened #39 "compile AOT"
Error: Error encountered resolving symbol values statically. Calling function 'ɵmakeDecorator', function
            calls are not supported. Consider replacing the function or lambda with a reference to an exported function,
            resolving symbol Injectable in
*****/node_modules/ngx-mask/node_modules/@angular/core/core.d.ts,
            resolving symbol ɵe in

[2017-10-05 19:33] NepipenkoIgor commented on #39
@jadir-junior Could you show package.json ? Do you use angular-cli ???

[2017-10-05 19:42] #31 closed

[2017-10-05 19:48] NepipenkoIgor commented on #27
@baihech Could you provide more complex example or give a link

[2017-10-05 19:48] NepipenkoIgor commented on #19
@wqdjl Could you provide more complex example or give a link?

[2017-10-05 20:17] LimarenkoDenis commented on #25
@wqdjl It works fine right now, please update version and check

[2017-10-05 20:19] #25 closed

[2017-10-06 06:45] NepipenkoIgor commented on #32
@dsouzas I tried  your config and no problem with latest build. Could you check and give feedback ?

[2017-10-07 11:25] sharikovvladislav opened #40 "Uncaught Error: Unexpected value '[object Object]' imported by the module X."
Hi!

I am trying to use `ngx-mask@2.0.3`. By the way whole code is available here: https://github.com/sharikovvladislav/ng2-diary-book/pull/77)

I imported your module this way `NgxMaskModule.forRoot(),` and I got this error:

[code]

I did that because of example in your code: https://github.com/NepipenkoIgor/ngx-mask/blob/master/src/app/app.module.ts#L33

What is the problem?

[code]

[code]

Re

[2017-10-09 15:25] dsouzas commented on #32
Works like a charm!

Thank you!

[2017-10-09 19:54] NepipenkoIgor commented on #32
@dsouzas and you )

[2017-10-09 19:54] #32 closed

[2017-10-10 05:14] sharikovvladislav commented on #40
Any thoughts?

[2017-10-10 12:38] gigioSouza commented on #40
I'm having this same issue

[2017-10-10 12:53] NepipenkoIgor commented on #40
@sharikovvladislav @gigioSouza Could you provide additional information for example full package json or link for test repo

[2017-10-10 12:55] NepipenkoIgor commented on #33
@lucianalml Could you provide repo with for your issue ?

[2017-10-10 13:08] gigioSouza commented on #40
@NepipenkoIgor I'll create a new project/repo and try to reproduce the error soon.

[2017-10-10 13:45] sharikovvladislav commented on #40
@gigioSouza not needed.

@NepipenkoIgor here is the repo: https://github.com/sharikovvladislav/ng2-diary-book/tree/feature/add-mask

Here is the package.json: https://github.com/sharikovvladislav/ng2-diary-book/blob/feature/add-mask/package.json#L52

I am adding repro to the topic-start post.

[2017-10-11 01:39] LimarenkoDenis commented on #40
@sharikovvladislav I could not run your project due to other errors,
@gigioSouza but try this solution:
edit /src/tsconfig.app.json in your project
`{
  "compilerOptions": {
    // ...
    // Note: these paths are relative to `baseUrl` path.
    "paths": {
      "@angular/*": [
        "../node_modules/@angular/*"
      ]
    }
  }
}`
more detail described here https://github.com/angular/angular-c

[2017-10-11 08:57] sharikovvladislav commented on #40
@LimarenkoDenis hi! What errors did you get? Can you provide full log?

Yesterday I did all steps at my friends PC (Windows 10) and I got my problem.

[2017-10-11 16:38] rodalonts opened #41 "Error in Module"
Hello everyone,

I want to implement this component, I imported it into my ngModule as follows:

...
import { NgxMaskModule } from 'ngx-mask';
...

@NgModule({
    providers: [
      ...
    ],
    declarations: [
      ...
    ],
    imports: [
       ...
        NgxMaskModule.forRoot(),
        ...
    ],
 ...
})

but when I run the project the following error occurs:

An unhandled exception occ

[2017-10-11 21:10] sharikovvladislav commented on #40
@LimarenkoDenis I am trying to understand what a problem did you get...

I just updated `@angular/cli` and right after ng serve I got this in console:

[code]

Is there any problems in ngx-mask?

[2017-10-11 22:01] LimarenkoDenis commented on #40
have you tried that solution that I wrote? , because all results with this issue lead me to an angular-cli issues, and with your angular upgrading, it seems like problem gone

[2017-10-11 22:06] LimarenkoDenis commented on #41
@rodalonts could you provide package.json please

[2017-10-11 22:19] sharikovvladislav commented on #40
Nope I didn't try it.

Actually , I thought you said it to @gigioSouza.

[2017-10-12 20:07] NepipenkoIgor commented on #40
@sharikovvladislav @gigioSouza In my opinion we should use latest version.  If it is possibly you should update dependencies . Current version is  4.4.4

[2017-10-12 22:17] sharikovvladislav commented on #40
I am not sure its ok to depend so hardly on specific version of something anyway.

[2017-10-13 13:49] rodalonts commented on #41
@LimarenkoDenis , this is my package.json. Thanks

{
  "name": "bbbbbbb",
  "private": true,
  "version": "0.0.0",
  "scripts": {
    "test": "karma start ClientApp/test/karma.conf.js"
  },
  "dependencies": {
    "@angular/animations": "~4.3.3",
    "@angular/common": "~4.3.3",
    "@angular/compiler": "~4.3.3",
    "@angular/compiler-cli": "~4.3.3",
    "@angular/core": "~4.3.3",
    "@angular/f

[2017-10-19 07:13] 2n2n opened #42 "Error encountered resolving symbol values statically. Calling function 'InjectionToken', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol config in /ngx-mask/build/config.d.ts, resolving symbol NgxMaskModule.forRoot"
I tried to run ng serve from the repository but it's not working.
Versions.

[code]

`ERROR in Error: Error encountered resolving symbol values statically. Calling function 'InjectionToken', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol config in ../app/node_modules/ngx-mask/build/config.d.ts, resolving symbol

[2017-10-19 17:24] rafaelcneves commented on #42
The same error here.. Any progress?

[2017-10-19 19:58] rafaelcneves commented on #42
I solved using angular 4.4.4

[2017-10-21 23:50] lucianalml commented on #33
Hi!!
Of course! I just created that repo:
https://github.com/lucianalml/example-mask

At firts I was using 1.0.3 which was with the pristine problem...
I trie to update to 2.0.3 but I had problems importing in app.module:
NgxMaskModule.forRoot(options)
NgxMaskModule.forRoot(),

Thanks,

Luciana

[2017-10-24 07:46] JuliaRakitina commented on #42
no does not work with angular 4.4.4

  "dependencies": {
    "@agm/core": "1.0.0-beta.1",
    "@angular/animations": "4.4.4",
    "@angular/cdk": "2.0.0-beta.12",
    "@angular/common": "4.4.4",
    "@angular/compiler": "4.4.4",
    "@angular/core": "4.4.4",
    "@angular/flex-layout": "2.0.0-beta.9",
    "@angular/forms": "4.4.4",
    "@angular/http": "4.4.4",
    "@angular/material": "2.0.0-beta

[2017-10-25 10:06] loginova-anna commented on #42
had the same problem, installed latest everything - got a bit another error:
[code]

[2017-10-25 21:36] lucascco commented on #29
@cesargrano @NepipenkoIgor We create one mask lib to work with Ionic that uses the NGX-MASK service: https://github.com/Pluritech/ion-mask

[2017-10-25 21:37] lucascco commented on #24
@brevleq @victorschinaider @cesargrano We create one mask lib to work with Ionic that uses the NGX-MASK service: https://github.com/Pluritech/ion-mask

[2017-11-03 10:13] Tolitech opened #44 "angular 5"
Hello.
is there any idea for the component to be compatible with angular 5?

when we update angular-cli to version 1.5 and we use the new angular 5, even in a totally blank project, the ngx-mask component informs error:

WARNING in ./node_modules/ngx-mask/node_modules/@angular/core/@angular/core.es5.js
5659:15-36 Critical dependency: the request of a dependency is an expression........

Thanks.

[2017-11-03 12:40] NepipenkoIgor commented on #44
@Tolitech Yes, i am going to update ngx-mask on weekend

[2017-11-05 16:21] ThalesMatoso commented on #44
The same problem here, after upgrading to angular 5 and running with the --aot flag, I have this problem.

ERROR in Error: Error encountered resolving symbol values statically. Function calls are not supported. NgModule in / var / www / lb-manager / node_modules / ngx-mask / node_modules / @ angular / ngx-mask / core / core.d.ts, resolving symbol NgxMaskModule in /var/www/lb-manager/node_modules/n

[2017-11-06 10:49] NepipenkoIgor commented on #44
@ThalesMatoso @Tolitech Hi, i tested last build and it works fine for angular v5 and aot compilation. Please try and give me feedback

[2017-11-06 10:50] NepipenkoIgor commented on #42
@loginova-anna @rafaelcneves  @2n2n Hi, i tested last build and it works fine for angular v5 and v4 and aot compilation. Please try and give me feedback

[2017-11-06 13:29] Tolitech commented on #44
it's working now.
thank you.

[2017-11-06 14:21] NepipenkoIgor commented on #44
@Tolitech  and you

[2017-11-06 14:21] #44 closed

[2017-11-06 16:49] luanmm commented on #40
@NepipenkoIgor this issue still occurs. It's due to the fact that  your library depends on a fixed version of Angular (now, as I see in the __master__ branch, is 5.0.0).

My suggestion is to change the library "dependencies" to "peerDependencies" in __package.json__ (that is, dependencies that aren't installed because the main project must have it already, which is the case for any project that us

[2017-11-06 17:31] sharikovvladislav commented on #40
@luanmm Yep. The current version of ngx-mask is not working for users which are running old versions of Angular. Users of old versions of Angular have to find ngx-mask of suitable verision for their Angular version. Thats absolutely not cool :)

[2017-11-06 19:01] NepipenkoIgor commented on #41
@rodalonts Сould you try latest version and give feedback?

[2017-11-06 19:02] NepipenkoIgor commented on #29
@lucascco awesome , perfect work

[2017-11-06 19:02] #29 closed

[2017-11-06 19:02] NepipenkoIgor commented on #24
@lucascco awesome , perfect work

[2017-11-06 19:02] #24 closed

[2017-11-06 19:50] luanmm commented on #40
If this is really the idea behind the "how to use", it's wrong from a design point of view. But I'm not thinking that this is the case. I think the problem here was a misuse of the __package.json__ considering that the project is an Angular library.

[2017-11-06 19:54] NepipenkoIgor commented on #40
@luanmm @sharikovvladislav Сould you try latest version  and give feedback?

[2017-11-06 20:11] luanmm commented on #40
@NepipenkoIgor I have done that already. The problem is that the library dependencies are conflicting someway with the project dependencies and this is what generates this error. Plus, I cannot change my project dependencies based on the library ones (change the Angular version of my project to match the library Angular version).

The only setup that I see that could solve this problem (and it's p

[2017-11-07 13:36] Glaycow opened #45 "As validação com o ng.dirty está identificando que o campo está sujo"

[2017-11-07 21:08] NepipenkoIgor commented on #40
@luanmm If you install latest build you will see that module has peerDependencies, and it should work. Please try.

[2017-11-08 12:10] sharikovvladislav commented on #40
@NepipenkoIgor

I installed last one via `yarn add ngx-mask@latest`.
I got:

[code]

Seems to me it works properly now.

@luanmm can you check this too?

[2017-11-08 12:33] luanmm commented on #40
Sure. I will check the latest version to see if it stops giving that error.

Sorry if it was already using "peerDependencies" when I insisted that this was the solution, but I was looking the source at this repository and, here, the __package.json__ seems to be using just "dependencies" yet. Maybe this is why it got confusing to me.

[2017-11-08 13:41] NepipenkoIgor commented on #40
@luanmm You right i will update master branch soon . Thank you.

[2017-11-08 14:44] luanmm commented on #40
@NepipenkoIgor now it works as expected, indeed.

And I checked that the dependencies of the library (when installed by NPM) are compatible even with lower versions of Angular (which is another requirement for me, as I am using Angular 4):
[code]
That's what I was talking about, but without the knowledge that it was already right. Sorry for that. I hope that I wasn't rude talking that way.

Lastly

[2017-11-09 09:57] NepipenkoIgor commented on #45
I don't understand . Please use english

[2017-11-09 09:57] #45 closed

[2017-11-09 09:58] #42 closed

[2017-11-09 09:58] #41 closed

[2017-11-09 09:58] NepipenkoIgor commented on #39
@jadir-junior Could you try latest version ?

[2017-11-09 12:14] Glaycow opened #48 "Validation with ng.dirty with mask field getting dirty"
I'm using anglar 5, in some input I'm using ngx-mask, it's doing some validations the inputs that contain the masks are getting dirty.

[2017-11-13 01:40] ThalesMatoso commented on #44
Yes, its work

[2017-11-13 01:51] ThalesMatoso opened #49 "Angular 5.0.1 -- Possible Bug"
When in the html is inserted the mask, I have this error that does not let my component be loaded, linking to another InjectionToken error, and when I remove the mask everything works.

below the image of the same.

Erro no HTML
![captura de tela de 2017-11-12 23-47-30](https://user-images.githubusercontent.com/20910274/32706350-1a66f39e-c804-11e7-9735-4bd640bd4e7c.png)

InjectionToken
![captura d

[2017-11-13 19:38] NepipenkoIgor commented on #49
@ThalesMatoso Thank you . I will check

[2017-11-13 23:01] ThalesMatoso commented on #49
Ok, waiting, I believe is @angular/http has to be deprecated is you using in app.module, but I do not know working on plugin ...

has prevision? my project have dependecy on plugin

Sorry my english, I'm training whitout translator.

[2017-11-14 11:35] dgouissem opened #50 "Error: More than one custom value accessor matches form control with unspecified name attribute"
Hey,

I 'm using the Angular 5.0 and Angular Material  2.0.0-beta.8, when i applied the ngx-mask within my custom component  i got the below error

[code]

It seems that the formControl  attribut is causing the issue when removing it any clue to resolve the issue

Thanks and regards

[2017-11-15 14:42] TimWarp opened #51 "How would i do an email mask?"
for example billy@whizz.com

[2017-11-20 13:03] pfrendo opened #52 "Runtime exception when building AOT"
A `.map` of undefined on `maskSpecialCharacters` when trying to create a regex in the constructor.

[2017-11-20 14:05] LimarenkoDenis commented on #52
@pfrendo can you provide the example?

[2017-11-20 20:00] caducabral commented on #52
When setting up a variable in constructor:

`
public _mask: string;

constructor() {
        this._mask = '000.000.000';
 }`

then in html using like that:

`<input [mask]='_mask' />`

Everything is correct in the confs files like .module.ts. ng serve ok. But when do ng build --prod im having the same problem of @pfrendo.

Version of Angular-cli is 1.4.9, Typescript: 2.5.3 and ngx-mask: 2.1.11

[2017-11-21 09:45] pfrendo commented on #52
It seems to be like the default configuration isn't being picked up

[2017-11-21 13:21] pfrendo commented on #52
@LimarenkoDenis I am working on a fix for this

[2017-11-21 13:30] pfrendo commented on #52
PR HERE @LimarenkoDenis  @caducabral

https://github.com/JsDaddy/ngx-mask/pull/53

[2017-11-22 08:49] halilibrahim opened #54 "Wrong behaviour for conditional binding"
Works ok when config.inputMask has a value at below example:
[code]
But ngx-mask permits to write to input if config.inputMask is undefined. There's no mask attribute when I inspect element with chrome developer tools.
[code]
I'll be glad if you can give an example for conditional binding if I've implemented it wrong.

I think ngx-mask binds itself to input even if config.inputMask is undefined, a

[2017-11-22 18:52] NepipenkoIgor commented on #52
Done

[2017-11-22 18:52] #52 closed

[2017-11-22 18:54] NepipenkoIgor commented on #40
@luanmm  You are right. I updated repo . Please check . And i will be happy if you will help with mask support.

[2017-11-22 18:54] #40 closed

[2017-11-22 18:55] NepipenkoIgor commented on #50
@dgouissem  Thanks, we will check

[2017-11-22 18:57] #39 closed

[2017-11-22 19:04] NepipenkoIgor commented on #49
@ThalesMatoso Сould you provide  more info or make some test project?

[2017-11-23 12:50] ThalesMatoso commented on #49
i try insert mask at input text, after update angular 5, all librarys work with success, exception ngx-mask

I remove mask at input text bellow and project well its work fine
`mask="00.000.000/0000`

[2017-11-23 18:02] ertle opened #55 "Metadata version mismatch for module"
**Error:** Metadata version mismatch for module C:/inetpub/wwwroot/ngx-workspace/client-code/e-dog/node_modules/ngx-mask/build/config.d.ts, found version 4, expected 3
    at StaticSymbolResolver.getModuleMetadata (C:\inetpub\wwwroot\ngx-workspace\client-code\e-dog\node_modules\@angular\compiler\bundles\compiler.umd.js:25616:34)
    at StaticSymbolResolver._createSymbolsOf (C:\inetpub\wwwroot\ngx-

[2017-11-24 09:01] NepipenkoIgor commented on #55
@ertle we will check

[2017-11-24 09:25] anvial opened #56 "How to provide IP address mask in CIDR notation?"
Hi,

Can you provide an expample of IP address CIDR notation mask?

Thank You!

PS: For example: 192.168.1.17/24

[2017-11-24 20:25] caseyPav commented on #49
@ThalesMatoso @NepipenkoIgor  I've spent a now disgusting amount of time trying to figure out what was breaking my app... see the post above for some detail... I think the fix is straightforward and will take a look at it after confirming all else is functional now that my app loads again... will update this post shortly

[2017-11-25 19:49] ThalesMatoso commented on #49
Good, i try again reinstall plugin on my project after update to 2.1.17, but not have success.

follow  more details below
Version Plugin 2.1.17
![captura de tela de 2017-11-25 17-30-24](https://user-images.githubusercontent.com/20910274/33234060-4e717c6a-d207-11e7-8d41-e15a50772146.png)

After update with npm install
![captura de tela de 2017-11-25 17-35-12](https://user-images.githubusercontent.

[2017-11-28 12:40] vgildeev commented on #49
Hi, I'm experiencing the same problem with `Cannot read property 'map' of undefined`. It's working fine in JIT mode but failed in AOT mode.
I'm using `angular v5.0.2` along with reactive forms and running my project with this command: `ng serve --aot`.
Cannot provide test project because I didn't find any online editor which allows me to run angular app in aot mode.

[2017-11-28 14:41] PavelGonzales commented on #55
I have same error

[2017-11-29 10:39] ThalesMatoso commented on #49
@caseyPav not got it, more details please?

[2017-11-29 20:52] caseyPav commented on #49
@ThalesMatoso I don't have much to add sadly- when built AOT the config injectiontoken is always undefined, which causes the app to break. In AOT the default or specified masking rules never get set as they are not being passed.

[2017-11-30 05:26] aditya-dikonia commented on #55
Facing same issue... Is there any solution?

[2017-11-30 05:50] aditya-dikonia commented on #55
I have fixed this issue by downgrading the ngx-mask version by 1.0.3, npm install ngx-mask@1.0.3

[2017-11-30 20:06] ThalesMatoso commented on #49
I agree, but aot on new version Angular aot is default. i dont  know how to do. Solutions?

[2017-12-01 17:05] vgildeev commented on #49
I've forked this lib and fixed this issue. Here you can see a [fix](https://github.com/vgildeev/ngx-mask/commit/064a071716a5c433c07d4091de696fa170a49059) just in case you might need it too :).

[2017-12-01 18:14] caseyPav commented on #49
@vgildeev Thanks so much! I was frustratingly close in my attempted fix!

@NepipenkoIgor would you consider implementing this fix? resolves all AOT issues on my end as well

[2017-12-04 13:28] NepipenkoIgor commented on #56
@anvial hi, you could use for example `<input mask="000.000.0.00/00" >`

[2017-12-04 13:28] #56 closed

[2017-12-04 19:38] digitalmedia34 opened #58 "Runtime exception when building Prod flag"
A .map of undefined on maskSpecialCharacters when trying to create a regex in the constructor.

[2017-12-04 19:38] digitalmedia34 commented on #58
I am able to replicate the issue by running ng build --prod

[2017-12-04 20:27] digitalmedia34 commented on #58
The issue was fixed in 064a071 (https://github.com/vgildeev/ngx-mask/commit/064a071716a5c433c07d4091de696fa170a49059)

It looks like its a matter of merging the change into master branch

[2017-12-04 20:29] digitalmedia34 commented on #49
I can confirm that resolved the AOT and Prod flag issue on my end as well

[2017-12-05 13:17] BeeShall opened #60 "Set mask as non on dynamic and conditional directive?"
How do I set make to none when I'm using mask as a directive that's being set conditionally?

[mask]='question.maskText? question.maskText : null'

[2017-12-05 13:58] anvial commented on #56
@NepipenkoIgor, your example is valuable only for certain IP. I think ngx-mask can format the IP adresses in general.

But nevertheless, thank you for reply.

[2017-12-06 22:50] digitalmedia34 commented on #49
Maybe we should keep this open until the fixes get merged into master branch,  for visibility purpose.

[2017-12-14 11:22] thebarada commented on #58
@JsDaddy could you please merge PR

[2017-12-15 13:41] NepipenkoIgor commented on #58
@thebarada Done

[2017-12-15 13:41] #58 closed

[2017-12-15 14:39] tamohugues opened #61 "Regex Mask"
plz cant you add regex mask for validation mask. That is very help all programmer
Ex:

`<input matInput [maskType]="regex" [mask]="\[A-z]{2} [0-9]{3}\" ...`

[2017-12-27 18:59] NepipenkoIgor commented on #33
@lucianalml Please, try latest version

[2017-12-27 18:59] #33 closed

[2017-12-28 10:08] NepipenkoIgor commented on #55
@aditya-dikonia @PavelGonzales Could you try latest version

[2017-12-28 10:11] NepipenkoIgor commented on #48
@Glaycow Could you provide code example

[2018-01-02 18:24] #54 closed

[2018-01-02 18:24] #60 closed

[2018-01-02 18:43] Shadayy commented on #49
@NepipenkoIgor This issue is closed but the solution @vgildeev gave still not implemented in this repo.

[2018-01-02 19:53] NepipenkoIgor commented on #49
@Shadayy Thanks , i will try  reproduce @vgildeev problem

[2018-01-02 19:59] Shadayy commented on #49
@NepipenkoIgor I fixed this issue by doing NgxMaskModule.forRoot() in my app.module (it was missing the .forRoot() ).
I'm running the 2.2.2 version

[2018-01-02 20:04] NepipenkoIgor commented on #49
@Shadayy Awesome, then think i can close this issue

[2018-01-02 20:04] #49 closed

[2018-01-03 19:58] NepipenkoIgor commented on #61
@tamohugues It is good idea , but it is very complex task. Maybe we wiil design this feature in new version

[2018-01-03 19:59] #55 closed

[2018-01-03 20:04] NepipenkoIgor commented on #50
@dgouissem  We used ValueAccessor in our current realization, but angular have limitation -> we can use only one realization ValueAccessor. That why ngx-mask don't work with material.

[2018-01-03 20:09] NepipenkoIgor commented on #27
this issue is a duplicate of #19

[2018-01-03 20:09] #27 closed

[2018-01-04 12:53] DSaralaya opened #63 "Zipcode Mask 5 or 9 Character(clearIfNotMatch)"
I  need zipcode mask '99999-?9?9?9?9?'

So Zipcode can take either 5 or 9 characters.This should work also for clearIfNotMatch

[2018-01-07 19:28] naren-edpuganti opened #64 "mask="0.00" Doesn't work on angular 5"
mask="0.00"

Doesn't work on angular 5

<input type="tel" mask="0.00" class="form-control input-lg"  [ngModel]="fuel.sellingPrice | number : '1.2-2'" (ngModelChange)="value=$event">

but mask="00.00" works

[2018-01-07 21:36] qetr1ck-op opened #65 "Esm module"
First of all thanks for your package and that you still maintain it.
Secondly, as a consumer, of the package I expect that it would be bundled into ES5 umd style. And I do not need to care about precompile my imported/required sources.

In order to do this you can:

* Set the value of the `main` property of `package.json` to point to the ES5 UMD bundle.
* Set the value of the `module` property to

[2018-01-10 01:57] mamadoudiallo727 opened #66 "IE11NotSupported"
Hi guys I tried to run the ngx-demo using internet explorer 11 but it is not working(page hangs at Loading...) although it is working fine in chrome. I am also working on a project in which I am using ngx-mask for my inputs and the mask works fine in chrome but doesn't work in IE11. Would someone help me .
Also noticed in the polyfills.ts file of the demo the imports for IE11 are commented out. So

[2018-01-16 18:48] djromy2006 opened #67 "I got ../src/app/app.module.ts (49,27): Cannot find name 'options'."
Here is the part of the code that is returning the error:

@NgModule({
  declarations: [
    AppComponent,
    FooterComponent,
    DialogComponent
  ],
  imports: [
    ...
    NgxMaskModule.forRoot(options),  (This is line 49)
    ...
  ],

Any would be appreciated.

[2018-01-17 16:06] NepipenkoIgor commented on #67
@djromy2006 could you provide example of your `options object` ?

[2018-01-17 16:51] djromy2006 commented on #67
@NepipenkoIgor I had no clue about that and I took away the word "options" and the error was gone but the mask is not working. if you can provide me with some options in this case, then I will be more than happy.

[2018-01-18 16:51] maxkonoplin commented on #64
confirm bug!

[2018-01-22 20:53] NepipenkoIgor commented on #67
@djromy2006 could you provide github repo with your example ?

[2018-01-24 10:23] chrisbenseler opened #68 "Optional character in mask"
Is it possible to have an option character in the mask?

Example, in Brazil the phone numbers can be (11) 1234-1111 or (11) 12349-1111. In other words, the "mask" is (00) 0000?-0000 where "?" is an optional character. Is it possible to achieve this with the library?

[2018-01-24 16:50] pucheoswaldo opened #69 "Support for Angular5"
This is not working for Angular5. Could please let us know for release plan.
Thanks 👍

[2018-01-25 15:43] ghost opened #70 "RegEx for 24 hour time only allowing 0 as input"
I am not sure if i am implementing the `RegExp` right but this is what i have at the moment:

`patterns="{ {pattern: new RegExp([0-9]{1,2}:[0-5][0-9])|([0-9]{1,2}\.[0-9]{1,2}), true}}"  mask="00:00"`

This is only allowing me to type 00:00 rather than 23:59 for example.

Any help would be much appreciated

[2018-01-25 21:21] bdragonomega commented on #70
I'm not quite sure pattern will do what you need it to.  I believe the pattern is to define your own codes for the mask and the regexp is limited per character, not the enter input (like your RegExp seems to be doing).

By default, the patterns are:
0 for a required number,
9 for an optional number,
A for letters/numbers, and
S for letters only.

By setting this attribute, it seems like it erases

[2018-01-30 18:09] bdragonomega commented on #68
As long its strictly numbers, 9 will work.

So the mask will be (00) 00009-0000

[2018-01-30 18:23] bdragonomega commented on #69
I used this in an Angular 5.0.5 and it seems to be working fine for the most part.  Which angular version are you using it for and what is the behavior/errors when you try to use it ?

Thanks

[2018-02-01 14:19] thiagog3 commented on #68
It's not working. When you use a smaller number the dash character continues on wrong position.

[2018-02-01 16:27] bdragonomega commented on #68
Can you give an example of the mask you're using, the input you type in, expected input, and results?

Thanks

[2018-02-01 21:30] thiagog3 commented on #68
I'm using this mask: "(00) 00009-0000"
I'm typing this value: "2433239825"
I'm getting this result: (24) 33239-825
I'm expecting this result: (24) 3323-9825

Like @chrisbenseler said before, in Brazil the phone numbers can be with 10 or 11 characters.

[2018-02-02 03:29] bdragonomega commented on #68
Ah I see, the behavior you expect to have it ignore optional characters until the end and then it pushes everything to the left if you insert more.

If you type 243323-9825, it will skip the optional character and show up as (24) 3323-9825.  It would be more apparent if you used clearIfNotMatch since it would clear the input if it wasn't (24) 3323-9825 or (24) 33232-9825, but I don't think clearIf

[2018-02-02 13:56] thiagog3 commented on #68
I think it's a half bug. Cause when I prompted a smaller number with "clearIfNotMatch" setted true all data is cleared. I have no time in this exact moment to contribute with this but I can take a look on this point at this weekend. What do you think?

[2018-02-02 15:43] bdragonomega commented on #68
Sounds like a plan.

Thanks!

[2018-02-07 08:16] NepipenkoIgor opened #76 "Add CONTRIBUTING.md"
We should add CONTRIBUTING.md with our specific rules . You could use https://github.com/angular/angular/blob/master/CONTRIBUTING.md

[2018-02-07 08:18] NepipenkoIgor opened #77 "add LICENSE"
Please add LICENSE you could use https://github.com/angular/angular/blob/master/LICENSE

[2018-02-07 08:22] NepipenkoIgor opened #78 "Make separate package from demo site"

[2018-02-07 08:24] NepipenkoIgor opened #79 "Create package for Dart"

[2018-02-07 14:16] #77 closed

[2018-02-07 14:34] #76 closed

[2018-02-07 20:08] kshaaban- commented on #55
Just tried latest, issue still exists

[2018-02-08 18:20] NepipenkoIgor opened #80 "move package to organization and deprecate previous one"

[2018-02-09 18:05] renanBritz opened #81 "Presenting data"
Hello.

Does this package include some sort of helpers to present data? I intend to store data in a raw format and present it with masks to the user, so that would require something like a masks pipe maybe... Is there anything built in? I couldn't find documentation on that.

Thank you!

[2018-02-10 20:07] NepipenkoIgor commented on #81
@renanBritz Thank you for question.  In my opinion it is good idea to make some pipe . We will add this in next releases

[2018-02-15 11:34] vgildeev commented on #48
@NepipenkoIgor I'm having the same issue too with both ReactiveForms and Template-Driven forms, here is a live demo https://stackblitz.com/edit/ngx-mask-issue-48

[2018-02-15 17:31] NepipenkoIgor commented on #48
@vgildeev Thanks for the demo, i will investigate this

[2018-02-16 15:52] gerardcm commented on #33
Hi @NepipenkoIgor,

Again, thanks for the lib indeed!

I'm getting the exact same issue while using version 2.2.2 was this solved? has this been reintroduced?

Rgds

[2018-02-18 20:55] LimarenkoDenis commented on #69
@pucheoswaldo Can you provide an example, please, because it works fine for me with Angular 5

[2018-02-18 22:56] LimarenkoDenis commented on #65
#84

[2018-02-19 18:03] #64 closed

[2018-02-19 19:19] NepipenkoIgor commented on #69
@pucheoswaldo @bdragonomega Please test , all problem was solved

[2018-02-19 19:19] #69 closed

[2018-02-19 19:23] NepipenkoIgor commented on #66
@mamadoudiallo727 Could you show error stack trace or screenshot

[2018-02-19 19:24] NepipenkoIgor commented on #65
@qetr1ck-op Please test and thank you

[2018-02-19 19:24] #65 closed

[2018-02-21 18:35] #48 closed

[2018-02-21 18:44] #61 closed

[2018-02-21 18:44] #50 closed

[2018-02-25 09:25] MalithHatananchchige commented on #19
You should be able to see it here
https://github.com/RobinHerbots/Inputmask

[2018-02-26 04:51] n7229 opened #91 "Unable to pass data to input: shows up empty"
lets say
sellingPrice = 2.22

data in the input field shows up empty

<input type="text" mask="0.00"  [(ngModel)]="sellingPrice"  />

[2018-02-27 23:11] mautematico opened #92 "@angular/router: really a dependency?"
I think this is not an actual dependency, and I hope it's not.
I am trying to use it on ionic@latest, which does not use @angular/router but a custom one.

├── UNMET PEER DEPENDENCY @angular/router@>=2.4.3

Will try to use it without router, and then propose a PR.

[2018-02-27 23:18] mautematico commented on #92
Done. It does not seem to actually need @angular/router to work.
In fact, @angular/router@2.4.3 is not even available today.

Will send a PR later.

[2018-02-28 12:46] YuriiZadorozhnyi opened #93 "IE 11. mask="000000000" doesn't work."
In IE in fields with mask="000000000" text inputs are possible and while moving out from this field either text or numbers input data are disappear.

Problem was solved with mask="000000000''".

But I don't like this solution and I don't understand it.

[2018-02-28 14:23] odahcam opened #94 "Buggy on Mobile devices"
When typing, the cursor moves to a position before the last inserted character (Galaxy S5, Galaxy S7, Moto G4 Play).

In older devices (Galaxy J2 mini), the cursor doesn't moves as well and all the characters are inserted to the right of the cursor.

You can test it in: https://jsdaddy.github.io/ngx-mask/

Some other plugins, seems to have fixed it by changing the `input.selectionStart` usage by `

[2018-03-01 17:11] gotshoo commented on #91
Same here. I am using a reactive form and can see a value was patched to the form, but the value does not display in the input field. Validated the data matches the mask.

![image](https://user-images.githubusercontent.com/1024817/36858524-004db384-1d41-11e8-8c2b-48cbd9e4f167.png)

![image](https://user-images.githubusercontent.com/1024817/36858615-3546268e-1d41-11e8-90a7-18d6948f89ac.png)

[2018-03-06 14:38] odahcam commented on #94
This problem occours in Galaxy S7 Edge too.

[2018-03-06 14:49] renandegrandi commented on #32
i have the same problem with version 2.4.4 and @angular/cli 1.6.5

[2018-03-06 15:12] cabbott65 opened #95 "Interferes with Disabled Attribute"
I'm trying to use a mask with an _input_ that has the _disabled_ attribute that can be toggled off and on:

**template:**
[code]
**component:**
[code]

The disabled toggle works correctly until I add the _mask_ directive.  When I do, it disables the _input_ and seems to ignore the _disabled_ attribute.

[2018-03-07 10:13] suhelkhan1 commented on #30
I am experiencing the same issue on latest version also.

[2018-03-07 11:47] rcasachi commented on #30
Same here

[2018-03-07 14:45] felipecslima commented on #94
I had the same problem.

[2018-03-08 12:07] suhelkhan1 commented on #94
For numeric input just use input type 'tel' like
`<input type="tel" mask="000 000 000" />`
It will work smoothly on mobile devices

[2018-03-08 13:45] odahcam commented on #94
Not on Samsungs or any other device that doesn't supports tel.

[2018-03-15 21:00] kcoram commented on #95
I encountered the same problem. What I noticed is that the disable/re-enable behavior works correctly if I do not bind to a form control (e.g. do not have [(ngModel)]="phoneNumber" ). When I do have a form control, as soon as I pass [disabled]="true" in, the input remains disabled from then on, even if I set [disabled]="false".

[2018-03-19 02:55] ConnectedReasoning opened #96 "masking ip address one or two or three digits."
when I use mask 000.000.000.000  I must use three digits per section. much of the time We use one or two or three digits in each section. I tried regex [0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}  no luck.
Anyone able to use IP mask?

[2018-03-23 17:40] raygozajc opened #98 "dropSpecialCharacters="true" does not work"
the option to dropSpecial Characters is not working, only works if you remove that and add:
ng-reflect-drop-special-characters="true"

[2018-03-28 18:25] RichardBosworth opened #99 "Text after mask"
Hi,

I would like to automatically add text following the mask that is presented to the user whilst typing.

e.g. 009/009 mmHg.
would ideally show the mmHg at the end.

Is this possible?

[2018-04-03 12:01] LeonadoRivaldo commented on #68
for this question it would be easier if the mask acepts regx like code so we could do this
(99) 9999-9999?9 so in this case if the string on the last part is > 4 it change '-' place making
the output like this (99) 99999-9999 it should do the trick, i can take a look on that, if that is ok.

[2018-04-03 12:04] LeonadoRivaldo commented on #68
BTW, this (00) 0000-00009 did not worki

[2018-04-03 16:24] aparna999 opened #100 "Mask does not apply dynamically"
I have an Angular app and it contains a dropdown list of country codes and a phone number input field. My requirement is to update the phone number with the corresponding phone # mask of the country whenever the country code changes which does not seem to work as intended.

Code in :
https://stackblitz.com/edit/angular-e394pt

[2018-04-03 17:42] YuriiZadorozhnyi commented on #100
Hello.
As I see all works fine.
You just need to select country, otherwise your  mask is undefined and does not work.
Am I right?

[2018-04-03 17:53] aparna999 commented on #100
@YuriiZadorozhnyi Yeah it works but what I meant to say is the input field does not get updated upon selection changes. Say, if you select US +1 then the input is (713) 222-3333. Now select Japan +81, the phone number in the input field remains same. Expected to be 71-3222-3333. If you type in the phone number it applies the correct mask but on selection change it does not.

[2018-04-03 18:47] YuriiZadorozhnyi commented on #100
You need do this:
import { Subject } from 'rxjs/Subject';
mask$: Subject<string> = new Subject();
  setMask(id){
    this.mask$.next(this.data.filter(data => data.id === id)[0].mask)
    setTimeout(() => this.userForm.get('phoneNumber').setValue('9999999999'), 0);
  }
  <mat-form-field>
    <input matInput placeholder="Phone Number"
      mask="{{mask$ | async}}" formControlName="phoneNumber" />

[2018-04-03 18:47] YuriiZadorozhnyi commented on #100
<mat-form-field>
    <input matInput placeholder="Phone Number"
      mask="{{mask$ | async}}" formControlName="phoneNumber" />
  </mat-form-field>

[2018-04-03 18:50] YuriiZadorozhnyi commented on #100
Link here:
https://stackblitz.com/edit/angular-cicjvx?file=app%2Fapp.component.ts

[2018-04-03 18:52] ozknemoy commented on #94
had same issue about a year ago. thought it was resolved

[2018-04-03 19:20] aparna999 commented on #100
@YuriiZadorozhnyi Thank you.

[2018-04-04 20:53] sagarpdev6 commented on #91
I have the same issue in angular reactive forms. The value exist but its not visible due to the mask. Also, the same thing works perfectly fine on another form.

UI:
![screen shot 2018-04-04 at 4 47 32 pm](https://user-images.githubusercontent.com/36165315/38333965-10edd776-3828-11e8-87fe-de1977a100c1.png)

Source:
<img width="870" alt="screen shot 2018-04-04 at 4 47 12 pm" src="https://user-image

[2018-04-04 20:55] sagarpdev6 commented on #91
@gotshoo Here's my zip code mask:
<input *ngIf="rForm.value.country == 'USA'" type="text" formControlName="zip" mask="99999" />

[2018-04-04 21:10] gotshoo commented on #91
@sagarpdev6 Thanks. I'll try changing my mask from '00000' to '99999' and see if that works.

[2018-04-05 15:17] ysrodrigues commented on #96
You can use digit 9 for that.
in Mask you can do that.

<input mask="099.099.099.099" ... >

You must have one digit, the zero represents that, and may have or not more two digits, nine's is that.

In documentation:
9 | digits (like 0 to 9 numbers), but optional

[2018-04-05 16:01] martinmanzo commented on #99
Hi @RichardBosworth, could you do this?

[2018-04-09 15:27] #100 closed

[2018-04-09 20:33] natan88 commented on #95
The problem also happened to me.

Work around the problem by creating two inputs.

[2018-04-20 00:46] natan88 commented on #91
I have the same problem

[2018-04-20 02:44] gotshoo commented on #91
I did some work on it this week to see if I could figure out the issue. Checking out the Develop branch, it looks like @NepipenkoIgor  possibly tried fixing this by adding an async task to pull the maskExpression.

https://github.com/JsDaddy/ngx-mask/commit/f83223332b9a462ce9b4863bf185952a5a8f21c3

The problem is that the maskExpress still comes back as null. I hacked it a little bit and was able

[2018-04-20 09:34] #78 closed

[2018-04-20 09:34] #79 closed

[2018-04-20 09:34] #80 closed

[2018-04-20 12:06] natan88 commented on #91
@gotshoo Thanks for the effort to solve the problem.

[2018-04-20 12:07] NepipenkoIgor commented on #91
@gotshoo @natan88 @n7229 Please try latest version

[2018-04-20 12:07] #91 closed

[2018-04-20 12:07] NepipenkoIgor commented on #92
@mautematico  removed

[2018-04-20 12:07] #92 closed

[2018-04-20 12:08] NepipenkoIgor commented on #98
@raygozajc  please try latest version

[2018-04-20 12:08] #98 closed

[2018-04-20 14:58] NepipenkoIgor commented on #93
@YuriiZadorozhnyi Could you try last version ?

[2018-04-20 15:03] NepipenkoIgor commented on #94
@odahcam Сould you check latest version ?

[2018-04-21 03:27] odahcam commented on #94
Looks ok in my Moto G4. 🎉
Gonna try to test in more devices along the next week.

[2018-04-21 13:57] NepipenkoIgor commented on #94
@odahcam Awesome , waiting for your feedback

[2018-04-21 15:05] odahcam commented on #94
Stills buggy on Galaxy J5 Pro with Samsung Internet:
![image](https://user-images.githubusercontent.com/3942006/39085655-42cb6cd6-455c-11e8-8b13-f10edfccd900.png)

[2018-04-24 08:22] MehboobAshraf opened #105 "dropSpecialCharacters not working"
I want to drop special characters of input value on binding.
I used dropSpecialCharacters property but its not working

[2018-04-24 10:55] NepipenkoIgor commented on #105
@MehboobAshraf Could you provide example how you try to use this option ?

[2018-04-24 15:49] em-gei opened #106 "Add comma in specialCharacters"
Hi, i think your mask is really powerfull and maybe the best at the moment, but the missing comma in the specialCharacter is a strong defeact! The point char can be use as thousand separator, not as decimal separator.

Could you please add the comma so we'll be able to use the mask for currency (example 557.145,99) ?

The best thing would be add in the configuration an option like (decimal: boolea

[2018-04-24 15:59] NepipenkoIgor commented on #106
@em-gei Yes, we will do this asap

[2018-04-24 16:02] em-gei commented on #106
Awesome! Thanks a lot, i'll wait it!

[2018-04-25 05:50] MehboobAshraf commented on #105
<input type="text" name="cnicNumber" dropSpecialCharacters="true" mask="00000-0000000-0" maxlength="15" minlength="15"
                  class="form-control"
                   placeholder="CNIC Number" [(ngModel)]="cnic"  required>
@NepipenkoIgor I tried to use this option like this.

[2018-04-25 08:44] NepipenkoIgor commented on #105
@MehboobAshraf please use binding `[dropSpecialCharacters]="true"`. I will change doc in case `dropSpecialCharacters="true"` true is string not a boolean . Waiting for your feedback

[2018-04-25 10:09] MehboobAshraf commented on #105
@NepipenkoIgor I just resolved it by removing this (dropSpecialCharacters="true"). may be it is true by default and yes my input is string

[2018-04-25 10:12] em-gei commented on #106
Cheers mate!!!

[2018-04-25 10:15] #95 closed

[2018-04-25 10:16] NepipenkoIgor commented on #105
@MehboobAshraf  you should use boolean or string[ ]. In Array you can drop partial special characters

[2018-04-25 10:16] #105 closed

[2018-04-25 10:18] NepipenkoIgor commented on #106
@em-gei Please try latest version . Your case `[dropSpecialCharacters]="['.']" mask="000.000,00"`

[2018-04-25 10:25] em-gei commented on #106
Hi thanks a lot it works! Anyway, how could i specify a regex that let my
insert any amount with thousand separator and decimals?

I'd like generalize the mask so i'll be able to insert in the input
currency values as (123.345,78 or 12 or 15.768 or 18.142.654,9)...you know
what i mean?

Il mer 25 apr 2018, 12:18 Igor Nepipenko <notifications@github.com> ha
scritto:

[2018-04-25 10:38] em-gei commented on #106
@NepipenkoIgor  i fixed previous problem removing the 's' from the ngx-mask.js import, i think you should import:

import { take } from 'rxjs/operator';

Anyway, now i can start the local server but i've error in browser console:

compiler.es5.js:1689 Uncaught Error: Can't resolve all parameters for MaskService: (?, [object Object], [object Object], [object Object]).
    at syntaxError (compiler.e

[2018-04-25 10:54] NepipenkoIgor commented on #106
@em-gei Сould you provide your package.json ?

[2018-04-25 10:58] em-gei commented on #106
@NepipenkoIgor

{
  "name": "ubz",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "start-local": "ng serve --proxy-config proxy.conf.local.json --base-href /",
    "start-local2": "ng serve --port 4201 --proxy-config proxy.conf.local.json --base-href /",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"

[2018-04-25 11:33] natan88 commented on #95
The last version worked perfect for me.
Thank you!

[2018-04-25 12:04] NepipenkoIgor commented on #106
@em-gei And also webpack сonfig. I used angular-cli

[2018-04-25 12:13] em-gei commented on #106
@NepipenkoIgor do you mean the package.json of webpack?

[2018-04-25 12:17] NepipenkoIgor commented on #106
@em-gei which tool do you use for bundling ??

[2018-04-25 12:26] em-gei commented on #106
@NepipenkoIgor I'm using Angular 4

[2018-04-25 12:47] NepipenkoIgor commented on #106
@em-gei Could you use Angular 5 ? Because i compiled library with compiler v5

[2018-04-25 12:49] em-gei commented on #106
@NepipenkoIgor  Actually nope...is there any workaround to let mask work with 4 versions?

[2018-04-25 12:57] NepipenkoIgor commented on #106
@em-gei I will try investigate

[2018-04-29 07:12] vkansal77 opened #108 "Mask does not apply dynamically on v1.0.3"
need the same below functionality in v1.0.3 because my project is compatible with this version only. reason is project dependencies, please let me know how soon this can be available in v1.0.3

https://stackblitz.com/edit/angular-cicjvx?file=app%2Fapp.component.ts

[2018-04-29 08:16] NepipenkoIgor commented on #108
@vkansal77 We will  try to answer your question tomorrow.  We should investigate code base for this achievement

[2018-04-29 15:04] vkansal77 commented on #108
please also let me know which version is compatible with the below dependencies, only v1.0.3 works if i use any other version i get ERROR in Error: Metadata version mismatch for module ngx-mask/ngx-mask.d.ts, found version 4, expected 3

"@angular-devkit/core": "^0.4.5",
    "@angular/animations": "^4.4.6",
    "@angular/common": "^4.4.6",
    "@angular/compiler": "^4.4.6",
    "@angular/core": "^

[2018-05-03 14:56] vkansal77 commented on #108
i have one issue , if i have postal code like this 'A9A 9A9' ...i just want user to type in this format only. but currently it allows digits '222 222'. please let me know if there is way to achieve that user can type on A9A 9A9.

[2018-05-03 19:31] vkansal77 commented on #108
i have another question if don't have format then mask keeps the last format. can i pass null to mask ?

[2018-05-04 19:27] FilipeTabosa opened #109 "Error on dynamic mask"
Version: 2.6.3

I am getting an error on updating a dynamic mask. On the country that I live a cellphone may have two different patterns.
The first one is "(00)0000-0000" ->(10 digits)
The second one is "(00)00000-0000" -> (11 digits).

I would like to update the pattern as the user is typing. if the cellphone number has 10 digits or less it will show the first case, otherwise it will show the sec

[2018-05-06 08:49] NepipenkoIgor commented on #109
@FilipeTabosa Thanks, we will investigate  this.

[2018-05-07 12:58] anacoimbrag commented on #70
I am having the same problem, was anyone able to resolve it?

[2018-05-07 13:58] FilipeTabosa commented on #109
Update:

I download the libbrary and tried to reproduce this error.  So I managed  to figure you that it was happening because the function "onInput()" was being called before "maskExpression". So if I changed the mask from my input it would not happen until another Input request was emitted.

I tried putting the following code on the maskExpression:

[code]
This is far from the best solution and

[2018-05-07 18:11] midrissi opened #110 "rxjs@6 support"
Version: 2.6.3

I have migrated my application to the latest version of angular (6.0.0) and to the latest rxjs version (6.1.0).

When I start the application, I get the following error:
[code]

[2018-05-08 11:59] NepipenkoIgor commented on #110
@midrissi Hi , thanks for PR .  I removed rxjs from code and update all deps . Please try new version

[2018-05-08 11:59] #110 closed

[2018-05-08 13:58] gtsopour commented on #30
@NepipenkoIgor same from me. Please just check mask="000 000 00 00" with a native Android browser.

[2018-05-08 16:25] midrissi commented on #110
Fixed! Thanks a lot :-)

[2018-05-09 18:16] gtsopour commented on #30
@NepipenkoIgor @suhelkhan1 Any update about Android devices anyone?

[2018-05-09 20:37] NepipenkoIgor commented on #30
@gtsopour Hi , we will work with this before weekend

[2018-05-11 07:37] gtsopour commented on #30
Thanks @NepipenkoIgor for the quick response.

[2018-05-11 09:35] LimarenkoDenis opened #115 "Did not reset field with mask directive when send form but this fields is not valid"

[2018-05-11 09:46] LimarenkoDenis commented on #115
My Reproduceing
Dynamically create phone control field,
type a value and it became valid, but when I submit a form and reset values, all field as expected reset, except field with the mask directive

[2018-05-14 18:06] viniciosyals opened #116 "Especific mask for NgModel"
Exemple

Input: 00/00/0000
NgModel: 0000-00-00

This is possible?

[2018-05-14 18:53] NepipenkoIgor commented on #116
@viniciosyals interesting new feature . We will discuss this and maybe try to implement

[2018-05-14 20:35] gtsopour commented on #30
@NepipenkoIgor Sorry for coming again but its really critical for me. Did you manage to check it or you suggest me to dig into the code too?

[2018-05-15 15:12] LimarenkoDenis commented on #30
@gtsopour, @rcasachi, @suhelkhan1,   Sorry guys, that we postpone testing this bug, I tested it on default android browser, and it works fine there, could you please clarify or provide more details? My android version 5.1

[2018-05-15 15:28] gtsopour commented on #30
@LimarenkoDenis For me its working as a mask but the cursor is moved when I am typing. Can you check that?

[2018-05-15 17:32] parthnayak7448 commented on #94
Does anyone have a solution to this issue? I am facing an issue when my mask is to input date like MM/YYYY after slash cursor moves forward and start entering values reverse.

Thanks in advance

[2018-05-15 17:55] odahcam commented on #94
@NepipenkoIgor seems like this issue should be reopened. :/

[2018-05-15 19:34] parthnayak7448 commented on #94
@LimarenkoDenis  and @NepipenkoIgor  its mainly happen in MOTO G5 with Android 7

[2018-05-16 12:25] khan8698 commented on #42
@NepipenkoIgor which version is working correctly with angular version 4.4.6. i am currently facing this issue and cannot update angular version for now.

[2018-05-22 17:38] mrjleo198901 opened #117 "Metadata version mismatch for module E:/projects/COCOA/mnbx3/ManagerBox3/angular-src/node_modules/ngx-mask/ngx-mask .d.ts, found version 4, expected 3"
Hi guys,
Pls I have this issue, I downloaded the latest version of this library, BUT i got this error:
Metadata version mismatch for module E:/projects/COCOA/mnbx3/ManagerBox3/angular-src/node_modules/ngx-mask/ngx-mask
.d.ts, found version 4, expected 3,....

I'm using angular 4.3.6

Greetings

[2018-05-23 06:32] gtsopour commented on #30
@LimarenkoDenis @NepipenkoIgor any update on this?

[2018-05-23 18:49] marcusvmdomingos commented on #117
Same error here.

angular 4.2.0

[2018-05-23 21:52] tylerstarcher commented on #115
Might be close to the same thing, have a form with a masked field that is not touched or dirty. When I submit that form and reset the form, with values being set to the form values that are submitted (for context, its a profile form), the masked field then becomes dirty.

[2018-05-24 17:53] FilipeTabosa commented on #109
I made some modifications on the last code that I put, mostly to fix tslint mistakes.  I did not find any better way to avoid ExpressionChangedAfterItHasBeenCheckedError than using a timeout. Feel free to make suggestions/modifications =).

[code]

[2018-05-25 07:29] ankiy opened #118 "Not working"
Hi,
when trying to compile, I get to see this error.

**_[ts] Type 'typeofOptions' has no properties in common with type 'optionsConfig'._**

[2018-05-25 08:56] vinayk406 opened #119 "Initial value is not set when the mask is undefined"
<input type='text' [mask]="mask" [(ngModel)]="x">

when the mask is undefined, model is not updated.

https://stackblitz.com/edit/angular-ndx2t4?file=src%2Fapp%2Fapp.component.html

[2018-05-25 10:09] NepipenkoIgor commented on #118
@ankiy could you show you env config ?

[2018-05-25 10:19] ankiy commented on #118
{
  "name": "test-app",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "^6.0.0",
    "@angular/common": "^6.0.0",
    "@angular/compiler": "^6.0.0",
    "@angular/core": "^6.0.0",
    "@angular/forms": "^6.0

[2018-05-25 10:39] NepipenkoIgor commented on #108
@vkansal77 Hi. latest version with major bug fixes compatible with versions 6+ . You should upgrade project to current stack

[2018-05-25 10:39] #108 closed

[2018-05-25 10:48] #119 closed

[2018-05-25 10:51] NepipenkoIgor commented on #119
@vinayk406 thank you .  Please try v2.7.4

[2018-05-25 10:54] NepipenkoIgor commented on #109
@FilipeTabosa  Hi. Thank you. I tried fix. Please try new v 2.7.4

[2018-05-25 10:54] #109 closed

[2018-05-25 11:00] NepipenkoIgor commented on #118
JIT or AOT compilation ?

[2018-05-25 11:45] NepipenkoIgor commented on #106
@em-gei we should use v6 compiler and you will need update you stack to v6

[2018-05-25 11:45] #106 closed

[2018-05-25 11:45] #117 closed

[2018-05-25 11:49] NepipenkoIgor commented on #116
@viniciosyals it is current functionality.  You should use
`mask="0000-00-00"  [dropSpecialCharacters]="false"`

[2018-05-25 11:49] #116 closed

[2018-05-25 13:30] NepipenkoIgor commented on #96
@ysrodrigues Thank you for answer . We will implement `?` special character in future. @ConnectedReasoning  Yes you can use <input mask="099.099.099.099" ... >

[2018-05-25 13:30] #96 closed

[2018-05-25 14:25] martinmanzo commented on #99
@RichardBosworth Hi, I found [this jQuery plugin](http://www.bestjquery.com/?qsm7HWPO) to serve as example:
![imagen](https://user-images.githubusercontent.com/3625887/40549577-32599d10-600e-11e8-9fa7-5fa5b6b46707.png)

For my app I ended up using ngx-mask and appending a boostrap-ish input group to show the unit of the field.

[2018-05-25 17:06] FilipeTabosa commented on #109
Working perfectly, thank you!

[2018-05-25 20:22] jiwansidhu opened #121 "How to put fixed +1 before phone mask (000) 000-0000"

[2018-05-29 11:58] NepipenkoIgor commented on #19
@wqdjl @victorschinaider We add support for `*` character . You can use latest version with mask `0*.00`

[2018-05-29 11:58] #19 closed

[2018-05-29 12:01] NepipenkoIgor commented on #30
@gtsopour Hi. We don't have this device and it is difficult to reproduce this problem . Could you help find problem and maybe fix it with PR ?

[2018-05-29 12:08] NepipenkoIgor commented on #66
@mamadoudiallo727 You didn't respond and i have been closed this issue

[2018-05-29 12:08] #66 closed

[2018-05-29 12:09] NepipenkoIgor commented on #93
@YuriiZadorozhnyi  You didn't respond and i have been closed this issue

[2018-05-29 12:09] #93 closed

[2018-05-29 13:47] NepipenkoIgor commented on #121
@jiwansidhu we should add this functionality , in current version its unavailable.

[2018-05-29 19:04] StephenRiosDev opened #124 "Does not work with reactive forms"
When using this directive on an input tied to an AbstractControl (FormControl tied to FormGroup) it breaks the control causing the value for it to never update.

[2018-05-29 19:15] #124 closed, assigned to nobody

[2018-05-29 21:04] thiagog3 commented on #94
Same issue with some of LG devices

[2018-06-01 12:15] DSaralaya commented on #63
Hi,

Can you give example for this in the site

[2018-06-12 16:46] anup-wadhwani opened #125 "using (000) 000-0000 as mask cursor move to left everytime on entring 4th digit. help wanted."

[2018-06-12 17:28] eisidoro commented on #125
same problem here using mask="(00) 00000-0000"

[2018-06-12 17:28] AllanPinheiroDeLima commented on #125
Same here. Someone knows how to solve ?

[2018-06-12 17:56] NepipenkoIgor commented on #125
@anup-wadhwani @eisidoro @AllanPinheiroDeLima Thanks. I will check

[2018-06-12 21:04] RodrigoPauletti opened #126 "Doesn't work"
The input doesn't show the mask, but the console doesn't show any error.

input:
`<input type="text" class="form-control col-md-9" mask="00.000.000/0000-99" formControlName="cnpj" name="cnpj">`

app.module.ts
`import { NgxMaskModule } from 'ngx-mask';`

`@NgModule({`
  `imports: [`
   `...`
    `NgxMaskModule.forRoot(),`
  `]`
`})`

[2018-06-13 18:21] Coffee-Tea commented on #115
I have the same issue: form.reset() reset value in the form and masked fields but visually fields contain (don't clear) values.

[2018-06-14 21:36] ghiscoding commented on #125
oh yeah I got that problem too and it's a little weird that if you continue typing the cursor will eventually move back to the correct location but only near the end (like around 8-9th char)

[2018-06-15 09:58] dancornilov opened #128 "Mask does not work"
Module:
import {NgxMaskModule} from 'ngx-mask';
imports: [
NgxMaskModule.forRoot()
];

Component:
<input [formControlName]="'phone'" type="text" mask="[00]-[000]-[000]" />

[2018-06-15 17:48] NepipenkoIgor commented on #128
@dancornilov Hi, could you show your environment  (package.json)???

[2018-06-15 17:49] NepipenkoIgor commented on #126
@RodrigoPauletti Hi could you provide your environment ?

[2018-06-15 18:28] dancornilov commented on #128
`{
  "name": "izi",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "prestart": "",
    "start": "ng serve --host 0.0.0.0 --disable-host-check --live-reload false",
    "prebuild": "",
    "build": "ng build --prod",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "6.0.2",
    "@an

[2018-06-15 18:28] dancornilov commented on #128
"dependencies": {
    "@angular/animations": "6.0.2",
    "@angular/common": "6.0.2",
    "@angular/compiler": "6.0.2",
    "@angular/core": "6.0.2",
    "@angular/forms": "6.0.2",
    "@angular/http": "6.0.2",
    "@angular/platform-browser": "6.0.2",
    "@angular/platform-browser-dynamic": "6.0.2",
    "@angular/router": "6.0.2",
    "angular-6-social-login-temp": "^1.1.14",
    "angular2-jwt":

[2018-06-17 01:18] brenoprata10 commented on #115
You can always set the formControl value to empty string and then call the reset function, this worked for me:
`this.formGroup.get('FORM_CONTROL').reset();`
`this.formGroup.get('FORM_CONTROL').setValue('');`

[2018-06-18 07:31] dancornilov commented on #128
Will somebody help me solve my problem?

[2018-06-18 12:57] #115 closed

[2018-06-18 13:02] dancornilov commented on #128
@NepipenkoIgor no nothing, maybe should set any options?

[2018-06-18 13:17] #125 closed

[2018-06-18 13:23] NepipenkoIgor commented on #125
@eisidoro @AllanPinheiroDeLima @ghiscoding Please try latest version , 2.9.4

[2018-06-18 13:40] #128 closed

[2018-06-18 13:44] NepipenkoIgor commented on #128
@dancornilov  Try latest version . I added  [ and ] as default symbols for mask. By the way you could read doc and find section with customization.

[2018-06-18 13:45] NepipenkoIgor commented on #118
Сlosed , no activity

[2018-06-18 13:45] #118 closed

[2018-06-18 13:46] NepipenkoIgor commented on #30
related #94

[2018-06-18 13:46] #30 closed

[2018-06-18 13:50] ghiscoding commented on #125
@NepipenkoIgor
Thanks it does help in the original question, however doing a copy+paste is worst than before. If I do a paste, it's now 2 or 3 characters behind (instead of being completely at the end). I can open another issue if you wish

[2018-06-18 13:54] NepipenkoIgor commented on #125
@ghiscoding Yes ,  please open another one.

[2018-06-18 14:14] ghiscoding opened #131 "Copy+Paste does not position the cursor at the end (it is 2-3 behind)"
Using `mask="000-000-0000"` and doing a paste of a phone number like "1234567890" will correcly mask "123-456-7890" but will leave the cursor 2 behind (cursor is between the number 8 and 9). If try a different mask of `(000) 000-0000`, the cursor is now 3 behind (cursor is now between the number 7 and 8).

[2018-06-18 14:22] NepipenkoIgor commented on #131
@ghiscoding  you expected that cursor should be on the end of input ?

[2018-06-18 14:29] ghiscoding commented on #131
Yes a paste should always leave cursor at the end

[2018-06-18 15:35] #131 closed

[2018-06-18 15:38] NepipenkoIgor commented on #131
@ghiscoding please try latest version

[2018-06-18 16:03] ghiscoding commented on #131
wow thanks for the super fast support. It works :)

[2018-06-18 16:06] NepipenkoIgor commented on #131
@ghiscoding And you. I am Waiting  new issues ))))

[2018-06-18 18:19] ghiscoding commented on #94
@NepipenkoIgor
I think your last version might have fixed this issue since it's also related to the cursor.

Perhaps some of you might try with latest and see if it's fixed?

[2018-06-19 15:56] NepipenkoIgor commented on #94
maybe @odahcam  could help ?

[2018-06-19 19:54] laysdantas opened #134 "How to create a dynamic mask for monetary values?"
A need a dynamic mask for monetary values like: 2.520,00
Someone who did this before?

[2018-06-20 10:33] eisidoro commented on #125
Thanks, it works.

[2018-06-20 19:14] stamminator opened #135 "patterns functionality not working"
Using the `patterns` example defined in the README.md, defining a custom pattern for use in a mask does not work. All it does is cancel out the default pattern and treat the character as a literal instead of a pattern.

https://stackblitz.com/edit/angular-auuzgg

Trying to use non-default patterns (for example, `X` instead of `0`) does not solve the issue. It still only allows literal `X` values t

[2018-06-20 19:16] AllanPinheiroDeLima commented on #125
Worked for me too, but I did'nt run a test like @ghiscoding  did. I will try and open an issue or comment again if I see the problem

[2018-06-20 19:41] ghiscoding commented on #125
@AllanPinheiroDeLima
I did open another issue #131 and it was fixed within the same day :)
I don't see any other errors anymore

[2018-06-21 06:40] NepipenkoIgor commented on #135
@stamminator  Hi. We will check

[2018-06-27 22:49] sandrocsimas opened #136 "Is there a way to use outside an input?"
Example:
[code]

[2018-06-27 23:02] sandrocsimas commented on #126
Should'nt be the mask "00.000.000/0000-00" or mask="99.999.999/9999-99"?
Is it possible to mix 0 and 9?

[2018-06-28 08:20] NepipenkoIgor commented on #136
@sandrocsimas  Hi , in next release going to add mask pipe

[2018-06-28 15:53] sandrocsimas commented on #136
Thanks, @NepipenkoIgor!

[2018-06-28 21:30] master0615 commented on #126
I have got the same error.
Ngx-mast doesn't work. but the console doesn't show any error.
<input  type="number" class="form-control" formControlName="phone" mask="000-000-0000">

how to solve this?

[2018-07-04 12:57] EuRusik commented on #121
Any update?

[2018-07-05 19:00] jl91 opened #137 "compatibility issue"
Afternoon,

I'm using angular 4 in a projects and when i try to use the latest version of ngx-mask 2+ e get these errors.

![captura de tela de 2018-07-05 15-51-09](https://user-images.githubusercontent.com/12367418/42342392-4a7cf814-806c-11e8-92b0-a8218427823c.png)

But when i put the 1.0.3 it works, but with a lot of bugs...

[2018-07-05 19:06] jl91 commented on #137
My package.json

"dependencies": {
   "@angular/animations": "4.4.6",
   "@angular/common": "4.4.6",
   "@angular/compiler": "4.4.6",
   "@angular/core": "4.4.6",
   "@angular/forms": "4.4.6",
   "@angular/http": "4.4.6",
   "@angular/platform-browser": "4.4.6",
   "@angular/platform-browser-dynamic": "4.4.6",
   "@angular/router": "4.4.6",
   "class-validator": "0.7.1",
   "core-js": "2.5.1",

[2018-07-07 08:03] chesminsky opened #138 "Option for visible mask"
Hi!
Do you have plans to make mask visible as an option ?
Like at this picture
![image](https://user-images.githubusercontent.com/11498406/42408418-254c0cfa-81d5-11e8-916a-14a9330eeba5.png)

[2018-07-09 18:07] lfaguiar commented on #137
I have the same problem

[2018-07-09 18:14] stamminator commented on #135
Hi @NepipenkoIgor, were you able to confirm this bug?

[2018-07-10 19:31] arjunvegda opened #139 "Unable to use '%' as a part of mask attribute"
Hello folks,

I apologize if this has been discussed before or if I have misunderstood parts of the doc.

I am trying to mask percentage on the input element.

[code]

However, it fails to function as intended by not appending that '%' at the end of 3 numbers.

Thanks.

[2018-07-11 11:29] NepipenkoIgor commented on #126
@master0615  Hi could you provide your package.json ?

[2018-07-11 13:21] master0615 commented on #126
Hi
My package.json is like following.

{
  "name": "SportTools",
  "version": "1.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "6.0.6",
    "@angular/common": "6.0.6",
    "@angular/compiler": "6.0.6",

[2018-07-12 14:07] parthnayak7448 commented on #94
I check with updated version of ngx-mask and problem still persists.

[2018-07-13 17:36] NepipenkoIgor commented on #94
@parthnayak7448  any idea why?

[2018-07-13 18:20] odahcam commented on #94
Works fine on Xiaomi Mi A1 in Chrome, couldn't test any other devices yet.

[2018-07-16 09:55] NepipenkoIgor commented on #81
@renanBritz @ghiscoding  You could try new 6.0.0 version

[2018-07-16 09:55] #81 closed

[2018-07-16 09:56] NepipenkoIgor commented on #136
@sandrocsimas you could try `<p >{{ client.personal_data.cpf_number | mask:000.000.000-00 }}</p>`

[2018-07-16 09:56] #136 closed

[2018-07-16 10:36] NepipenkoIgor commented on #126
@RodrigoPauletti @master0615 I have just tested  and mask works correct .  Maybe you could provide live example or show public repo with this situation . @sandrocsimas Yes is possible.

[2018-07-16 10:38] NepipenkoIgor commented on #94
@odahcam i am сlose and will reopen if we find all bugs

[2018-07-16 10:38] #94 closed

[2018-07-16 10:39] NepipenkoIgor commented on #121
@EuRusik  In progress

[2018-07-16 12:03] NepipenkoIgor commented on #135
@stamminator
Problem with JSON.parse/stringify  and we cant use string in this case
we should use this functionality in next way
[code]
I will change  doc

[2018-07-16 12:03] #135 closed

[2018-07-16 12:08] NepipenkoIgor commented on #134
@laysdantas  Hi , you could use `mask="0?.0*,00"`

[2018-07-16 12:08] #134 closed

[2018-07-16 14:20] williancsilva opened #142 "Optional digit"
The User will input (99) 9999-9999 or (99) 9999**9**-9999 (bolder digit is optional).

Tryed (00) 0009-0000 and (00) 0000-00009.

input: 11240244244
result: (11) 2402-44244
my need: (11) 24024-4244

Thanks.
PS: It's a nice work.

[2018-07-16 16:43] sandrocsimas commented on #136
Great, @NepipenkoIgor! I will try today, thanks!

[2018-07-16 18:08] NepipenkoIgor commented on #142
@williancsilva  This is awesome that package help your work. Waiting for new issues )

[2018-07-16 18:08] #142 closed

[2018-07-17 10:57] ritwickdey commented on #49
I'm getting the same issue. in `^2.4.4`

If I provide `MaskService` in component level, the error is gone. If I provide `MaskService` sub module or root module level, I'm getting same error.

[Note: I'm using lazy loading]

[2018-07-18 13:55] BesikSakhiashvili opened #143 "Does not work in Lazy Loaded module"
Hello
ngx-mask does not work in Lazy Loaded module

[2018-07-18 13:57] NepipenkoIgor commented on #143
@BesikSakhiashvili Hi , will check

[2018-07-19 07:46] SathyaChenniappan opened #144 "clearIfNotMatch: true - is not clears the text box value"
clearIfNotMatch: true - Clears the text box text but the text box still holds the entered value.

I am using reactive forms.

Please help me to fix the issue.

[2018-07-19 10:11] NepipenkoIgor commented on #143
@BesikSakhiashvili Could you provide error or clarify problem ??

[2018-07-19 10:35] NepipenkoIgor commented on #144
@SathyaChenniappan Hi, please try v6.0.1

[2018-07-19 10:35] #144 closed

[2018-07-19 11:39] SathyaChenniappan commented on #144
@NepipenkoIgor Thanks a lot.

[2018-07-19 17:05] naterchrdsn opened #147 "Different behavior of "00000" mask on IE vs Chrome"
On Chrome: the input accepts 5 digits, and does not clear input on blur
On IE11: the input accepts any input, and clears the input on blur

[2018-07-19 17:06] naterchrdsn commented on #147
going to fork the repo and help with this issue sometime soon

[2018-07-20 08:06] NepipenkoIgor commented on #147
@naterchrdsn Awesome , waiting for your PR

[2018-07-20 19:08] ng-rams commented on #143
When the mask is changed in the component it doesn't apply the new filter.

[2018-07-20 19:09] ng-rams opened #148 "Changing mask after component is initialized doesn't update mask"
have a mask that defaults to ""
When the component is loaded to "000-000-0000" it doesn't enforce with the new mask.

[2018-07-23 09:03] NepipenkoIgor commented on #148
@ng-rams Hi , сould you provide code example. What hook do you use for initialization ?

[2018-07-23 11:23] XardasLord commented on #138
Is this option available ?

[2018-07-23 14:40] #126 closed

[2018-07-23 14:59] NepipenkoIgor commented on #121
@jiwansidhu @EuRusik  Please try new version 6.1.1

[2018-07-23 14:59] #121 closed

[2018-07-23 15:40] ng-rams commented on #148
html file:
<form-text
[name]="'phone'"
[(ngModel)]="model.phone"
[required]="true"
[customMask]="'000-000-0000'">
</form-text>

---------------------------------------------------------------

custom component .ts file
@Component({
  providers: [TEXT_INPUT_ACCESSOR_PROVIDER],
  selector: 'form-text',
  template: `
<div [hidden]="hidden" class="form-group row">
  <div class="col-sm-9">
    <input t

[2018-07-24 06:49] XardasLord opened #151 "Dynamic mask clears input model value, even if the value is correct"
Hello, when I try to load data whick has a dynamic mask getting from a function like this:
`[mask]="zipCodeMask()"`.

My input looks like:
[code]

on my `ngOnInit()` function I load the model. Mask works fine but only problem is when I load data from DB, only input which has a mask is not filled.

[2018-07-26 19:37] jl91 commented on #137
Just for a while, to use the latest develop version in angular 4.4.6 i made a fork.

https://www.npmjs.com/package/ngx-mask-fixed

[2018-07-28 12:56] masaanli opened #155 "Option to pass characters that are also enabled?"
Like a space?

So i can say:
mask="AAAAAAAAAAAAAAAAA"

and that it is possible then to type for example `Firstname Surname`

[2018-07-28 14:04] masaanli opened #156 "Possibility to add more masks like 31-12-9999?"
Title says enough :)

Possibility to add more masks like 31-12-9999?
So that it's also checking on max number of 31 before the -

[2018-08-01 14:32] NepipenkoIgor commented on #156
@masaanli Hi. You could use custom patterns. Please look in doc.

[2018-08-01 14:34] NepipenkoIgor commented on #148
@ng-rams Hi , awesome

[2018-08-01 14:34] #148 closed

[2018-08-01 18:34] masaanli commented on #156
@NepipenkoIgor can you give an example how to do that for the date, for example above?

[2018-08-02 12:21] zinzinday opened #159 "How to add to ionic?"

[2018-08-03 17:17] Oddadmix opened #160 "How to achieve "***-***-1234" in masking pattern ?"

[2018-08-06 08:31] NepipenkoIgor commented on #160
@Oddadmix  Hi , what you mean when use `*` ?

[2018-08-06 08:32] #143 closed

[2018-08-06 08:35] NepipenkoIgor commented on #155
@masaanli  Do you try find mask for `Firstname Surname` ?

[2018-08-07 06:36] ufoscout opened #161 "Currency Mask example"
Is it possible to build a currency mask with this library?
Something like this:
http://next.plnkr.co/edit/zjJw8gfvaVFIUN9OIvea?p=preview&preview

If yes, could you please provide an example?

[2018-08-07 08:20] dMartinezAyuso opened #162 "Thousand number separator"
Hi,

Is it possible to add dinamically a separtor for number with thousands. Example:
(1) InputValue-> 12342.12     MaskValue-> 12,342.12
(2) InputValue-> 132123454     MaskValue->132,123,454
(3)InputValue-> 12     MaskValue->12

This is a great tool. Thanks for sharing!

[2018-08-07 13:09] Oddadmix commented on #160
@NepipenkoIgor * as a string not regex.

What is the masking pattern that I can use ?

[2018-08-07 15:02] ruudyroon opened #163 "Can I use this on contenteditable divs?"
just curious,

I wanted to apply mask to this tag

<span #plannedTotal contenteditable (blur)="update('plannedTotal'+':'+ plannedTotal.innerText)"> {{convertToHHMM(session.plannedTotal)}} </span>

wondering if this is possible.

[2018-08-07 15:03] NepipenkoIgor commented on #163
@ruudyroon you should use  mask pipe `<span>{{phone | mask: '(000) 000-0000'}}</span>`

[2018-08-07 15:14] #163 closed

[2018-08-07 15:18] ruudyroon commented on #163
Thanks!

[2018-08-07 15:20] NepipenkoIgor commented on #163
@ruudyroon  And you

[2018-08-07 15:21] NepipenkoIgor commented on #159
@zinzinday now we don't support ionic and nativescript

[2018-08-07 15:21] #159 closed

[2018-08-10 09:03] Zyassin commented on #67
I have the same error, did you find a solution ?!!

[2018-08-10 10:16] NepipenkoIgor commented on #151
@XardasLord  Hi , i tested delayed assignment and didn't find problem . Could you provide more complex example ??

[2018-08-10 17:53] dxhj opened #164 "Problem with Lazy Loaded Module"
I'm trying to use the `mask` attribute in a lazy loaded module, `RegisterModule`. Importing `NgxMaskModule.forRoot()` in my `AppModule` does nothing, but if I add it to the `RegisterModule`, everything works fine.

Example of my routes structure:

[code]
Could you provide me some light on this? Thanks a lot.

[2018-08-13 08:57] rakesh00005 opened #165 "value clears out in the input of type formcontrol where masking has been applied"
I have an input field like below.

`<input [formControl]="price" mask="00.00">`

While entering a number, masking is applied with no probs. But when the value is getting from API call, value in the input clears out and not able to enter a value.

[2018-08-13 08:58] NepipenkoIgor commented on #165
@rakesh00005  Hi , we will check

[2018-08-13 09:12] rakesh00005 commented on #165
Change in title.
Actually i can able to enter a value but the issue is value coming from API call is not populating in input field. When i remove "mask" attribute, value is getting displayed.

[2018-08-14 10:03] Coffee-Tea opened #166 "ng build prod: WARNING: "export 'ɵa' (imported as 'i21') was not found in 'ngx-mask'"
Hi, it looks like not big blocker, but anyway during
`ng build --prod` all modules which use ngx-mask throw warning
[code]

ngx-mask - 6.1.2
angular packages - 6.0.4.

[2018-08-15 15:05] benj0c commented on #50
I have the same problem when try to use mask in combination with bsDatepicker.

[code]

[2018-08-15 23:45] jcebidanes opened #167 "If type number not show value in input."
Not show value if type is number.

[code]

If change type to string work fine.
`object { value: "4.56" }`

**Environment:**
"@angular/core": "^5.2.0"
"ngx-mask": "^6.1.2"

[2018-08-16 00:16] felipedenardo opened #168 "type number and ngx-mask"
In my case, not working will mask for variables of type number, only works with string?

[2018-08-16 05:16] m-khnarges commented on #67
I got the same error.
Does it have any solution

[2018-08-16 19:45] Barbiero opened #169 "optional character on the lefthandside?"
Suppose you use the mask `90000-0000`. I expected it would work in a sense that the leftmost character(ie, the `9`) is optional, and the `-` character would stay on the 5th position(when counting from right to left). However, if I input `12345678`, it will render `12345-678` instead of `1234-5678`. If I were to add another character, it will work as expected, ie. `12345-6789`

Is there any way to

[2018-08-16 19:46] jcebidanes commented on #168
Issue open #167

[2018-08-17 15:59] felipedenardo commented on #168
tks

[2018-08-20 18:12] charlesartbr opened #170 "Please add brackets ([]) on patterns in README.md"
Please update README.md file changing:

`<input type='text' patterns="customPatterns" mask="(000-000)" >`

To:

`<input type='text' [patterns]="customPatterns" mask="(000-000)" >`

This took me one hour to found out what was wrong with my code.

[2018-08-20 18:34] ruudyroon commented on #167
Facing the same issue

[2018-08-20 21:30] jcebidanes commented on #165
Maybe is the same problem that I have  #167.
I identified if change the type number to string work fine.

[2018-08-22 02:01] SaadeMotion opened #172 "Custom CPF/CNPJ Pattern"
Hello, i'm trying to achieve Brazilian CPF/CNPJ pattern. Using with Angular Form Validator it works, but with custom pattern it doesn't,

[code]

this piece of regex works in any other regex tester. please can you help?

[2018-08-22 12:00] atakchidi commented on #164
Please learn angular basics first. Read how [modules](https://angular.io/guide/ngmodules)  in the angular works before asking silly questions.

[2018-08-22 17:06] dxhj commented on #164
Actually it was a confusion I made with my unit tests that day. Importing `NgxMaskModule.forRoot()` in the `AppModule`, then importing `NgxMaskModule` in the lazy loaded module did fix the problem. But, by the nature of separate testing modules, I had to import `NgxMaskModule.forRoot()` in the lazy loaded module before seeing the error go away. Anyway, a really silly CONFUSION. Thanks for your hig

[2018-08-22 17:06] #164 closed

[2018-08-23 08:52] IulianParaian commented on #67
Just use
[code]
The `options` parameter is optional, but the doc doesn't specifies that.

[2018-08-23 15:41] nazar-kuzo opened #173 "Add ability to use MaskPipe/MaskService inside component"
Currently, there is no ability to inject MaskPipe/MaskService into component constructor to apply mask in TypeScript.

[2018-08-23 16:52] NepipenkoIgor commented on #170
@charlesartbr Tanks , we merged PR

[2018-08-23 16:52] #170 closed

[2018-08-24 19:14] jiwansidhu commented on #121
Thanks man @NepipenkoIgor .. I switched back to this. It fixed my issue :)

[2018-08-27 11:37] #168 closed

[2018-08-27 12:52] unnamed92 commented on #172
@SaadeMotion
RexExp in mask checks a string with only 1 symbol in it. You can not check a long string with several characters.

[2018-08-27 12:52] #172 closed

[2018-08-27 13:46] unnamed92 commented on #169
9 never evaluate as optional character because you  always type it.
You can use optional character only in the end of a line.

[2018-08-27 13:46] #169 closed

[2018-08-27 13:48] Alexandr98 commented on #162
You can specify mask manually. For example:
 mask="00,000.00"
 mask="000,000.00".

[2018-08-27 13:49] #162 closed

[2018-08-27 14:08] Alexandr98 commented on #160
Did you mean * as a letter? If you yes, then try this mask="SSS-SSS-000".

[2018-08-27 15:25] unnamed92 commented on #161
Try this one: mask="99,999.999.999".
You can add so many characters as you need or remove the coins.

[2018-08-27 16:14] ariefurtado opened #174 "Can't bind to "mask" since it's not a know property of input"
Hi, i'm struggling with this for a some time... but it seems that no one else have this issue.

I'm trying to use this mask within a dumb component in a lazy loaded module.

Lazy loaded module:
[...]
import { NgxMaskModule } from 'ngx-mask';
@NgModule({
  imports: [
    NgxMaskModule.forRoot()
[...]

and that dumb component:
[...]
<input
        name="document"
        [placeholder]="documentfield

[2018-08-28 04:00] #174 closed

[2018-08-28 12:33] dluk opened #175 "How to mask optionally negative number?"
Hi,

How do I create a mask for optionally negative number? I have tried `mask="-?0*.99"` but it doesn't allow to enter anything after the -

[2018-08-28 12:38] unnamed92 commented on #166
Could you provide full list of your dependencies?
I've tested your case in the project from scratch but didn't get your error.

[2018-08-28 13:04] unnamed92 commented on #175
@dluk
You should try to create custom pattern for this optional negative number like this:

<input type='text' [patterns]="customPatterns" mask="(000-000)" >

and in your component

public customPatterns = {'0': { pattern: new RegExp('\[a-zA-Z\]')}};

[2018-08-28 17:05] Coffee-Tea commented on #166
@unnamed92 Hmmm, interesting, here is the list of dependencies:

`
"dependencies": {
    "@angular/animations": "^6.0.4",
    "@angular/cdk": "6.3.0",
    "@angular/common": "^6.0.4",
    "@angular/compiler": "^6.0.4",
    "@angular/core": "^6.0.4",
    "@angular/forms": "^6.0.4",
    "@angular/http": "^6.0.4",
    "@angular/material": "6.3.0",
    "@angular/platform-browser": "^6.0.4",
    "@angu

[2018-08-29 15:11] lucky9abhi commented on #175
Hello I have used in the following way:

<input type="text" [patterns]="customPatterns" mask="999999.00" dropSpecialCharacters="false" >

component:

customPatterns = { '9': { pattern: new RegExp('[-?0-9]') } };

Now I can able to use - as optionally, but the issue is I couldn't enter like -12.23 and mask is forcing me to enter -123456.00 or 123456.00

is there any solution for the above issue?

[2018-08-29 15:38] felipefsv opened #176 "Mask according to the length of the text"
Hi,

is it possible to add a mask according to the length of the text entered?

As in:

1234 =  "12-34"
123456 = "12345-6"

[2018-08-31 11:49] dluk commented on #175
@lucky9abhi I think it's because you need to define patterns for all the symbols. You only defined '9' but not '0' so it treats the '0' exactly as '0'
I guess something like this could work:
`<input type="text" [patterns]="customPatterns" mask="09999.99" dropSpecialCharacters="false" >`
with
`customPatterns = {
 '0': { pattern: new RegExp('-?') },
 '9': { pattern: new RegExp('[0-9]') },
};`
wonder

[2018-09-04 09:07] arti040 commented on #160
I won't create a new thread but how to achieve something like this:

[[undetermined letters/numbers][optional dash or one space]] * many times?

Example: 4FSS-4234 FS1W-42 324-BB

[2018-09-04 10:26] Alexandr98 commented on #175
@dluk You should try to create custom pattern, like this:
in view:
<input type="text" [patterns]="customPatterns" mask="V*.00" dropSpecialCharacters="false";
in component:
 custom patterns  =  'V': { pattern: new RegExp('[-?0-9]') };
This custom pattern worked for me.

[2018-09-04 15:14] dluk commented on #175
@Alexandr98 But I think it would allow you to enter some wrong values like: "-.00", "9-.00", "-9-.00", "---.00"

[2018-09-06 14:05] ojemuyiwa commented on #160
I think he meant example: Bank card number **** **** **** 2345

[2018-09-10 07:21] ImJeevesh opened #178 "Issue with Android devices in certain masks"
I tried using the demo example at [https://jsdaddy.github.io/ngx-mask/](https://jsdaddy.github.io/ngx-mask/) on my android device for Date, Date and Hour, Hour masks but when I enter 100 the cursor shifts pointer to just before last 0. Seems like this occurs only when we try to enter 100. I used google keyboard for entering digits in the following scenario.

[2018-09-10 15:55] NepipenkoIgor commented on #167
@ruudyroon @jcebidanes Please try latest version 6.1.3

[2018-09-10 15:55] #167 closed

[2018-09-11 08:09] vstets commented on #175
^\-?([0-9]\.)?[0-9]+$

[2018-09-13 13:09] evandersar commented on #70
<input type="text" class="form-control" formControlName="childBirth" mask="00.00.0000" placeholder="__.__.____">

childBirth: ['', [Validators.required, Validators.pattern(/^\s*(3[01]|[12][0-9]|0?[1-9])\.(1[012]|0?[1-9])\.((?:19|20)\d{2})\s*$/)]],

[2018-09-14 06:24] KumailHussain opened #182 "regEx for 0-100% including decimals"
mask = 00.00% works from 0-99.99 unable to cater 100.00, how can i create custom regEx to cater 0-100 including decimals

mask = 1?99.00% it works for 100 but also works for 101.00  etc

[2018-09-14 16:12] duredhel13 commented on #138
Any news on this?

[2018-09-17 12:19] aacdevelop opened #183 "matAutocomplete and mask"
Hi,
Given this input

<input *ngIf="field.isInputMask" matInput #fieldElement type="text" (keypress)="keyPress($event)" class="accent-color" [ngModel]="field.value" [placeholder]="field.name" [matAutocomplete]="auto" [readonly]="locked || field.isReadOnly || disabled" mask="{{field.inputMask}}" (ngModelChange)="changeValue($event)" (blur)="focusOut(field)"/>

i receive the following:

FieldValidat

[2018-09-17 17:19] Wikster2012 opened #184 "Additional non-default special characters are not being registered by the specialCharacters attribute"
Title says it all really. In trying to create this input box

[code]

I've registered the special characters I need this particular mask to recognize and use. All of them but `x` are supported by default.

I wasn't sure if using the `specialCharacters` attr tag to define my array would overwrite the default list of characters or append characters to it. So to be safe I added all the characters I n

[2018-09-17 17:41] Wikster2012 commented on #183
The error is stating the problem stems from not having a specified `name` attribute. Did you try adding the missing `name` attribute? Did that not resolve the issue?

Something like,

[code]

[2018-09-18 14:38] mralienlucky commented on #166
Same warning, and console error ERROR TypeError: or(...).onFocus is not a function
`  "dependencies": {
    "@angular/animations": "6.1.7",
    "@angular/common": "6.1.7",
    "@angular/compiler": "6.1.7",
    "@angular/core": "6.1.7",
    "@angular/forms": "6.1.7",
    "@angular/http": "6.1.7",
    "@angular/platform-browser": "6.1.7",
    "@angular/platform-browser-dynamic": "6.1.7",
    "@angul

[2018-09-18 20:41] Wikster2012 commented on #184
I've come to discover the issue was due to two things. First, that `specialCharacters` needs to be wrapped in `[ ]`. It is not wrapped in the documentation.

Second, if the specialCharacter attribute is going to be used then all special characters intended to be used, even characters supported by default, need to be listed in the array. This is also not explained in the documentation.

My input en

[2018-09-18 20:41] #184 closed

[2018-09-19 14:16] Oddadmix commented on #160
Perfect. Thanks @Alexandr98  & @ojemuyiwa  I will try it but I think it should work.

[2018-09-19 14:16] #160 closed

[2018-09-21 01:44] adammendoza opened #185 "Does it work with model driven forms?"
Does it work with model driven forms? It does not work and no error using model driven form. Does it only work with template driven forms?

[2018-09-22 18:23] monster153 opened #186 "the mask does not dorp special characters"
I know this issue has been addressed twice but both solutions did not work with me I tried to add [dropSpecialCharacters]="true" and removing it but still I get the value of the input with the special characters
`<ion-input  type='text'  mask="000-000.00"  style="direction:ltr;" #phone></ion-input>`

[2018-09-22 19:35] monster153 commented on #186
it worked for me after I made the input a reactive form I just had to add [formContorl]="" to the html element

[2018-09-22 19:35] #186 closed

[2018-09-24 15:55] Serge0111 commented on #185
what errors do you have? because it doesn't matter which one you use.

[2018-09-24 16:03] Serge0111 commented on #183
Hi @aacdevelop
the following error "FieldValidationComponent.html:28 ERROR Error: More than one custom value accessor matches form control with unspecified name attribute" occurs because [matAutocomplete] uses formControl under the hood but it's not allowed to use more than 1 formControl... so that's why it doesn't work in your case.

[2018-09-24 16:06] #183 closed

[2018-09-24 23:25] tskweres opened #187 "Good example for SSN?"
Would like to make in an input show:

` ***-**-3321 `

for example

[2018-09-25 21:51] cbruce11 opened #189 "Form is being marked as ng-dirty"
The ng-mask is causing the form to be marked as dirty. I see that you have made some changes to possibly address this issue but I have updated to the most recent version and still am having the same issue.

[2018-09-26 09:57] OlgaMatosova opened #190 "Using mask between different child modules"
Hi
I am using Angular 5.2
I have in my app several child modules, and when I try to add ngx-mask in root module app.module.ts as NgxMaskModule.forRoot() , it doesn't work in child module and I get error "The pipe 'mask' could not be found". Could you help me with this? I really like your lib

[2018-09-26 15:34] NepipenkoIgor commented on #138
@chesminsky @duredhel13 We have just release v6.2.4 . Please try.

[2018-09-26 15:34] #138 closed

[2018-09-26 15:35] #151 closed

[2018-09-26 15:39] #165 closed

[2018-09-27 13:49] zmnv opened #192 "autoclear view by select and click"
[code]

It works fine until I _double click_ to input field or _select_ then _click_.

1. Select text in input
2. Click to input text...
3. ngx-mask removes visible phone number, but doesn't update form model "phone".

how to fix?

PS: It works without prefix.

PPS: Is it #188 ? Please update master.

---
Angular 5.1.0
ngx-mask 6.2.4

[2018-09-28 06:33] me-amit opened #193 "IE not working the demo"
I am trying to load the demo appliction on IE 11. But it is not loading
https://jsdaddy.github.io/ngx-mask/

When I opened it in IE it will only show the loading and in console it is showing the error like
SCRIPT5022: Exception thrown and not caught
_for-of.js (14,1)

[2018-09-28 09:04] Serge0111 commented on #192
Hi @zmnv,
thanks for the issue, i found where the bug is,  i will fix it shortly

[2018-09-28 20:11] jmac-slash0 commented on #161
This is what worked for me:

`<input type="text" [specialCharacters]="[ '$', ',' ]" mask="$000,000,000,000">`

Input: 123456 Output: $123,456

[2018-10-01 11:20] Alexandr98 commented on #193
@me-amit Hi, we have just fixed issue - connected polyfills for IE. This should works for you.

[2018-10-01 11:20] #193 closed

[2018-10-01 12:58] Serge0111 commented on #192
Hi @zmnv,
try 6.2.6 version

[2018-10-01 12:58] #192 closed

[2018-10-01 13:11] Alexandr98 commented on #189
@cbruce11 We can't reproduce this issue, but we create new angular cli project and compare with our ngx mask, problem not found.
You could to show screen with problem?

[2018-10-01 13:11] #189 closed

[2018-10-01 13:43] Alexandr98 commented on #173
@nazar-kuzo We released new version with that property, try 6.2.8.

[2018-10-01 13:43] #173 closed

[2018-10-01 13:46] Serge0111 commented on #190
Hi @OlgaMatosova,
We released new version 6.2.8, try it.

[2018-10-01 13:46] #190 closed

[2018-10-01 14:57] Alexandr98 commented on #166
@Coffee-Tea We reproduced with your dependencies in new project and error not found.

[2018-10-01 14:57] #166 closed

[2018-10-01 15:00] Alexandr98 commented on #161
@ufoscout You can use prefix like this prefix="$".

[2018-10-01 15:00] #161 closed

[2018-10-01 15:06] NepipenkoIgor commented on #187
@tskweres `*` you mean any character ? And 3321 should be fixed numbers ?

[2018-10-01 15:08] NepipenkoIgor commented on #176
@felipefsv Hi . Сould you describe your pattern ?

[2018-10-01 15:09] tskweres commented on #187
had a client who had a requirement to live mask the numbers as the user is typing....but show the last 4, and still retain the original value of what was typed.

The requirements have since been changed, but still an interesting problem to solve

[2018-10-01 15:10] NepipenkoIgor commented on #178
@ImJeevesh Hi.  Сould you provide screen and version of your system . Also which browser did you use ?

[2018-10-01 15:11] NepipenkoIgor commented on #156
@masaanli If i understand you right 31 should be fixed numbers ?

[2018-10-01 15:16] nazar-kuzo commented on #173
@Alexandr98, so I have installed the 6.2.8 version and here what I have:

ngx-mask.d.ts (file)
![image](https://user-images.githubusercontent.com/13677730/46296909-1dcbbd00-c5a4-11e8-9fe8-b1cd5cae609d.png)

Seems like default d.ts generator renamed exports.

Also, MaskPipe has a dependency on MaskApplierService, so it makes things complicated where they supposed to be simple:

Example 1:
I would l

[2018-10-01 15:55] LaserUnicorns opened #199 "build with aot and global options not working"
ngx-mask version - 6.2.8
angular version - 6.1.9

app.module.ts
[code]

in template:
[code]

When I run `ng serve --aot` mask not working correctly, input only accepts character 'D'.

Cusotm global config in MaskService looks like this:

![image](https://user-images.githubusercontent.com/8597726/46299897-10660100-c5ab-11e8-9523-14cfd849fb49.png)

Notice there is no pattern field.

If I build appli

[2018-10-01 16:30] NepipenkoIgor commented on #199
@LaserUnicorns  Hi . Thank you for report . We will check

[2018-10-01 17:29] felipefsv commented on #176
@NepipenkoIgor Hello!

eg: if input is "92036365019" (11 digits) mask applied should be: "920.363.650-19". If input is "22137884000163" (14 digits) mask should be "22.137.884/0001-63". It's a matter of individual or business id code.

[2018-10-01 18:13] NepipenkoIgor commented on #176
@felipefsv  Condition mask interesting . Do we have only two conditions ?

[2018-10-01 18:45] felipefsv commented on #176
@NepipenkoIgor Yes, exactly. It's Brazilian taxpayer doc id standard.

[2018-10-01 22:23] oakfield opened #200 "Clear using select all and backspace"
The NgModel doesn't update when you clear the input in some ways, such as by selecting all text with CTRL + A.

Steps to reproduce:

1. Go to the first example on the demo page.
2. Type some text, such as "12345678".
3. Select all text in the input through either CTRL + A or by holding the left mouse button and dragging the mouse.
4. Clear the text by pressing backspace.

Expected behavior: the Ng

[2018-10-02 08:14] AntonDershen opened #201 "Possibility to add property repeat mask?"
Afternoon.
For example, I need to make mask with 10 symbols.
I can create mask = "AAAAAAAAAA" or I can create mask = "A" and set repeatMask=10.

That would be a good feature.

[2018-10-02 08:23] AntonDershen opened #202 "Custom pattern issue"
Afternoon,
I create custom patterns :
`public customPatterns= {`
    `'0': { pattern: new RegExp(/[1-9]/)},`
    `'1': { pattern: new RegExp(/[0-9]/)},`
 `};`

And create mask:
`   public mask: '01';
`
And I can input value 0. But in pattern '0' value 0 is not exists.

If i change code like this:

`public customPatterns= {`
    `'F': { pattern: new RegExp(/[1-9]/)},`
    `'1': { pattern: new RegEx

[2018-10-02 08:27] Alexandr98 commented on #175
@dluk This should work:
in view:
 <input type="text" mask="V0*.00" [patterns]="customPatterns" [dropSpecialCharacters]="false">
in component:
custom patterns = 'V': { pattern: new RegExp('-?') };

[2018-10-02 08:27] #175 closed

[2018-10-02 12:36] Serge0111 commented on #99
Hi @RichardBosworth and @martinmanzo,
we've released new version which includes 'sufix' property, check out 6.3.8.

[2018-10-02 12:36] #99 closed

[2018-10-02 14:05] zmnv commented on #192
Yes, CTRL+A then Backspace is fixed.

But. Try to select all and DEL. Same bag ^)

[2018-10-02 16:03] Alexandr98 commented on #202
Hi @AntonDershen, we’ve fixed this issue when you create custom pattern, for example:
public customPatterns= {‘F’: { pattern: new RegExp(/[1-9]/)}}.
mask= ‘FF’.

[2018-10-02 16:03] #202 closed

[2018-10-02 16:42] martinmanzo commented on #99
Awesome! Thanks!

[2018-10-02 19:29] KevinLira opened #205 "mask is not working"
After last push, the component stopped validating CPF as shown on https://jsdaddy.github.io/ngx-mask/
Version 6.3.8 works fine, Version 6.3.9 fails to validate mask="999.999.999-99"

as entering the fourth digit, the component fails to apply mask.

[2018-10-03 07:46] LaserUnicorns opened #206 "Add ability to pass patterns/config to MaskPipe"
Right now pipe accepts value and mask, if would be nice to pass optional patterns object or full config to pipe

[2018-10-03 08:51] Alexandr98 commented on #205
@KevinLira This mask means that you may type nothing in input. That's why it doesn't work.
The following mask works:
"099.099.099-09".

[2018-10-03 08:53] Alexandr98 commented on #206
Hi @LaserUnicorns please send example.

[2018-10-03 09:28] LaserUnicorns commented on #206
So basically i want this pipe usage in template
[code]
or
[code]

This is similar to mask directive, where I can supply custom patterns
[code]

[2018-10-03 10:15] Alexandr98 commented on #199
@LaserUnicorns Hi. We fixed this in new version 6.3.9

[2018-10-03 10:32] Alexandr98 commented on #199
@LaserUnicorns Hi. We fixed this in new version 6.3.9

[2018-10-03 10:32] #199 closed

[2018-10-03 11:41] mplatek89 opened #207 "Mask always visible"
Right now mask is only visible when user start typing in the input or if the 'prefix' is set. It will be good idea to introduce property "showMask" to always display mask on input.

[2018-10-03 12:36] nazar-kuzo opened #208 "ngx-mask breaks ngModel default writeValue flow"
MaskDirective.writeValue has such check at the beginning:
if (inputValue === undefined) {
      return;
}

This actually causes input not updating the value, but the model does, so we trap into situation where the
input shows value but model has 'undefined'.

Steps to reproduce:
1. create input with mask on it and ngModel bound to field
2. type whatever inside input
3. set field = undefined

Expec

[2018-10-03 13:33] Alexandr98 commented on #208
@nazar-kuzo Hi, we fixed this. We replaced return with inputValue = '', try now.

[2018-10-03 13:33] #208 closed

[2018-10-03 13:34] nazar-kuzo commented on #208
Perfect, thanks!

[2018-10-03 14:37] Alexandr98 commented on #208
@nazar-kuzo Try version 6.3.10

[2018-10-03 16:04] Alexandr98 commented on #207
@mplatek89 We fixed this in version 6.3.11.

[2018-10-03 16:04] #207 closed

[2018-10-03 16:27] KevinLira commented on #205
After updating from version 6.3.8,  to 6.3.11 the following error appears,

Failed to compile.

./node_modules/ngx-mask/fesm5/ngx-mask.js
Module build failed: Error: ENOENT: no such file or directory, open 'C:\Users\ksl\source\repos\proje1T\blabla\Angular6\node_modules\ngx-mask\fesm5\ngx-mask.js

[2018-10-03 18:52] LaserUnicorns commented on #199
Still not working in 6.3.11. Seems like angular compiler strips regexes in aot mode.

[2018-10-03 19:29] ImJeevesh commented on #178
I use Chrome Android v69 on a Custom Rom (Android 9 / Nexus 5x). See if this screen works for you [https://streamable.com/4ru9e](https://streamable.com/4ru9e)

[2018-10-04 04:45] zMADCATz opened #209 "warning when try to build production mode"
I try to build production mode but I see warning from cli

<img width="932" alt="screen shot 2561-10-04 at 11 34 13" src="https://user-images.githubusercontent.com/9088059/46453250-b93e7700-c7ca-11e8-999b-3085d1e4e2a2.png">

should I worry about it ?

[2018-10-04 08:41] 9brabus9 commented on #209
Hey @zMADCATz,
Could you send print screen how you use MaskPipe?

[2018-10-04 08:45] zMADCATz commented on #209
@9brabus9
I use it in input tag like this
`<input type="text" value="{{taxPayerNo | mask: '0-0000-00000-00-0'}}" readonly />`

[2018-10-04 09:54] 9brabus9 commented on #209
@zMADCATz,  did you try to delete all node_modules and do npm i?

[2018-10-04 10:12] Serge0111 commented on #205
Hi @KevinLira,
try to delete package-lock.json and reinstall node_modules.

[2018-10-04 10:45] zMADCATz commented on #209
@9brabus9  It's work thank you.

[2018-10-04 10:45] #209 closed

[2018-10-04 15:08] Alexandr98 commented on #206
@LaserUnicorns Hi, try version 6.4.12.

[2018-10-04 15:08] #206 closed

[2018-10-05 07:46] mplatek89 commented on #207
Can you give me more details about that?

[2018-10-05 08:38] LaserUnicorns opened #211 "repeat char (*) doesn't work"
Given this template:
[code]
input accepts only numbers, I can't type any special characters, dot (.) in this instance.

example https://stackblitz.com/edit/angular-nz9cie

[2018-10-05 09:30] ashishyadav23 commented on #200
Any update I am also facing same issue

[2018-10-05 16:19] Serge0111 commented on #200
hi @oakfield ,
try version 6.4.13 , it should work.

[2018-10-05 16:19] #200 closed

[2018-10-05 16:34] Serge0111 commented on #211
Hii @LaserUnicorns,
try 6.4.14, it should work.

[2018-10-05 16:34] #211 closed

[2018-10-05 23:30] gfdeluca opened #214 "Direction of mask"
Its posible to add a direction to the input so the mask be a little more friendly? My approach comes to telephone numbers.
For example I am from Argentina, the telephone number mask is like this (900) 0000-0000, so if you don't put de first letter (really the final number) the mask finish like this, (123) 4567-890, but if you can set the direction from right to left it ll be (12) 3456-7890

[2018-10-08 20:20] KevinLira opened #215 "After selecting all text and pressing backspace nothing happens"
It seems to be a common behavior of the component, although, it is still a litte bit strange.

You can:
Write on a masked field and erase it without any problem, character by character.
Write on a masked field, and select all the content, and press Delete, Works Fine.

but you can't:
Write on a masked field, select all the content and press backspace. text does not goes out. tested in Chrome, Safa

[2018-10-09 08:45] maettyhawk opened #217 "Using single and double quote as special chars"
I'm having trouble to use single and double quotes as special characters...
I fail to escape the double quotes, so I thought I could use &qout; instead. But also using single quote in the mask fails, I'm not able to add any characters to the input field when the caret position is right before the defined quote.

[2018-10-09 10:09] Alexandr98 commented on #201
@AntonDershen Hi, we fixed this in version 6.5.15
For example:
<input type="text" mask="A{10}">
and A repeats 10 times.

[2018-10-09 10:09] #201 closed

[2018-10-09 10:15] Alexandr98 commented on #215
@KevinLira Hi, When we reproduced this, all worked fine.
What operating system are you using?

[2018-10-09 10:19] KevinLira commented on #215
Using Windows 10 for Chrome and IE11
Using iOS 12 for Safari

[2018-10-09 12:44] 9brabus9 commented on #217
hi @maettyhawk,
Could you give an example of mask that you want to use?

[2018-10-09 15:33] 9brabus9 commented on #217
Hi @maettyhawk,
We added single and double quotes to specialCharacters, so right now you can use their code for your case : &#39; for ', &#34; for ". Try 6.5.16
example: mask="0&#34;0&#39;0.00"

[2018-10-09 15:33] #217 closed

[2018-10-09 15:34] 9brabus9 commented on #217
Hi @maettyhawk,
We added single and double quotes to specialCharacters, so right now you can use their code . Try 6.5.16

[2018-10-09 16:27] KevinLira commented on #215
Version 6.5.16 Fix this issue. Thanks

[2018-10-09 16:27] #215 closed

[2018-10-10 11:37] oneentity opened #219 "currency format + sufix issue"
Hello everyone,
is there any tested way to mask input as currency with decimals and '$' suffix? I wanted to get masked input like '{variable number of integers}.{zero to two decimal numbers} $'
When I do:
`<input matInput mask= '0*.00' sufix=" $" >`
The mask isn't working correctly. It looks alright only when there are four characters total no matter if numbers or special characters. (see image)

[2018-10-10 12:21] Alexandr98 commented on #219
@oneentity Hi, we will fix this in next version

[2018-10-10 12:47] 9brabus9 commented on #137
I checked this in angular 4.4.7 All worked great
Please update your angular version before 4.4.7 + and update ngx-mask version 6+

[2018-10-10 20:17] #137 closed

[2018-10-10 22:35] ImJeevesh commented on #178
@NepipenkoIgor It didn't work for me... On entering 100 shows 10/0 but with wrong cursor placement (just before last zero digit) although for any combination it works fine.

[2018-10-11 19:11] apatel7886 commented on #199
Still not working in latest version 6.5.17

[2018-10-12 16:48] 9brabus9 commented on #156
We updated ngx-mask and added new pattern Mask: d0/m0/0000
You need to use this pattern in your case.

[2018-10-15 12:32] luizjunior05 commented on #190
The same is happening to me.

`ngx-mask: 6.5.18`
`angular: 6.0.0`

[2018-10-15 17:01] #156 closed

[2018-10-16 11:43] KinjalAkhani commented on #68
Is it possible to have an option character '#' in the mask as i want to add it in color picker functionality.

[2018-10-16 14:41] Lev09 opened #222 "Mask removes the rest of digits when changed in middle"
I am using Mask for phone numbers and have noticed an issue. When I change the number in middle it  deletes the rest on right side except first digit.

Here is the mask I am using: `\+9 999 999-99-99`

Here is how it looks:

![mark-issue-3 1](https://user-images.githubusercontent.com/4953382/47024761-63c37c00-d173-11e8-9b62-ef5d7f21197b.gif)

[2018-10-16 22:18] vallavans opened #223 "(change) event is not getting triggered when we use mask"
<input id="Zip" name="Zip" type="text" mask="00000" placeholder="Zip" class="form-control" minlength="5" maxlength="5" (ngModel)]="viewModel.Address.ZipCode" (Change)="viewModel.Address.Status= Update; callAService = true; onChange('Zip');"              (blur)="onValidateAddress()" />

If we are not using the mask="00000", the event is triggered.

[2018-10-17 09:56] Dok11 commented on #94
@NepipenkoIgor same bug in Samsung Internet browser in any android devices
https://play.google.com/store/apps/details?id=com.sec.android.app.sbrowser

[2018-10-17 20:15] ryanlangton commented on #187
I'm in need of this feature too. Any ETA?

[2018-10-19 12:45] CosmoFruit opened #224 "TypeError: inputValue.slice is not a function"
"@angular/cli": "~7.0.0-rc.1",
 "ngx-mask": "^6.5.18",

in HTML

[code]

in TS

`  phone = new FormControl(' ', [Validators.required, Validators.minLength(10)]);`

TypeError: inputValue.slice is not a function
    at MaskService.push../node_modules/ngx-mask/fesm5/ngx-mask.js.MaskApplierService.applyMask (ngx-mask.js:107)
    at MaskService.push../node_modules/ngx-mask/fesm5/ngx-mask.js.MaskService

[2018-10-19 15:59] CosmoFruit commented on #224
sorry, it's my template mistake

[2018-10-19 15:59] #224 closed

[2018-10-21 08:35] misterpinedita opened #225 "AG Grid CellEditor: ngx-mask with ngx-datepicker and [(ngModel)] doesn't work"
I have a CellEditor and I want to use the mask property in the input element.

I am getting the error `More than one custom value accessor matches form control with unspecified name attribute`.

I want to apply the mask 99.99.9999 to the CellEditor.

Can I use mask property with [(ngModel)] ?

**Template:**

    <div class="input-group date" (focusout)="onFocusOut($event)">
    <input #container t

[2018-10-22 11:45] KanKai opened #226 "i'm use ngxMark with formControlName is error"
`<input formControlName="totalPaymentMethod" mask="00*.00" [(ngModel)]="numberOrStringFormModel" >`

[2018-10-22 14:50] kishor-p opened #227 "How to use NGX-MASK to accept binary numbers of variable length"
This is a question, not an issue.

Detailed question is on Stackoverflow:

https://stackoverflow.com/questions/52929007/angular-input-mask-for-binary-numbers

[2018-10-23 07:47] macin40 opened #228 "Option to add masked value in ngModel"
How can I bind the ngModel with the masked value,
Currently if , masking is 00-00-00 (HH-MM-SS), the value of a ngModel variable will be 000000,
How can I make the value  00-00-00 in ngModel variable?
To be more specific I want the makes characters to be included in ngModel.

[2018-10-23 13:19] NepipenkoIgor commented on #228
@macin4 Hi , please use ` [dropSpecialCharacters]="false"`

[2018-10-23 13:19] #228 closed

[2018-10-24 07:21] macin40 commented on #70
Did anyone find the solution?

[2018-10-24 09:23] macin40 opened #229 "RegEx for 24 hour time -> HH:MM:SS"
How to get this masking, such that the maximum value for the hour is 23,
Right now I am using,
public customPatterns = {
    '0': {pattern: new RegExp('\[01]|2')},
    '1': {pattern: new RegExp('\[0-9]|[0-3]')},
    '2': {pattern: new RegExp('\[0-5]')},
    '3': {pattern: new RegExp('\[0-9]')},
    '4': {pattern: new RegExp('\[0-9]')}
  };
 mask="01:23:23.444"

where the maximum input it upto  29,

[2018-10-24 14:59] NepipenkoIgor commented on #225
@misterpinedita Hi you can't use two custom form controls . `More than one custom value accessor matches form control with unspecified name attribut` this error about it  . Date picker it is custom form control and ngx-mask too. This is limitation of Angular.

[2018-10-24 14:59] #225 closed

[2018-10-24 23:59] ruudyroon opened #230 "Need to use single quote for height mask"
it needs to work like this

eg - 6'11" or 5'11"

is it possible to have single quote in special characters? Every time I try to add the application breaks

 specialCharacters="[ ''' ]"

[2018-10-25 00:01] ruudyroon commented on #230
I saw this ticket
https://github.com/JsDaddy/ngx-mask/issues/217

but didn't understand the last answer "We added single and double quotes to specialCharacters, so right now you can use their code . Try 6.5.16"

[2018-10-25 10:56] NepipenkoIgor commented on #230
@ruudyroon We will check

[2018-10-26 11:56] zoli887 commented on #126
Do not forget where you want to use it (not in app.module.ts):
@NgModule({
  imports: [ NgxMaskModule.forChild() ]
})

[2018-10-26 22:20] ruudyroon commented on #230
@NepipenkoIgor  this was a mistake from my side it seems the mask is working for single quotes

i just had to escape the quote with this '0\'\'00\'

[2018-10-26 22:20] #230 closed

[2018-10-28 09:23] kcprabase opened #232 "ngx mask is setting form.pristine = false if form has Input with value bound with ngModel"
I have a form with mat input that uses ngx-mask. When i have to edit form, it prepopulates data in all fields of form. But I found that in such case, if i check if the form is pristine or not using `let isPristine = form.pristine`, false is set to isPristine. No field has been even touched  and it sets it to false. Can this issue be fixed. I need this because I need to save my form data only if th

[2018-10-29 08:32] AntonDershen opened #233 "Can you add mask applied event?"

[2018-10-29 08:34] beckon111 opened #234 "incorrect work in prod mode"
Hello. Module don't works in production mode, but in developer mode all right. How I'm using it on input: `<input class="form-control" type="text" title="Телефон" formControlName="phone" [dropSpecialCharacters]="false" [showMaskTyped]="true" mask="+7(000)0000000">`
Config in app.module:
`NgxMaskModule.forRoot({
            patterns : {
                '7': {
                    pattern: new RegExp

[2018-10-29 13:55] orochiminami commented on #214
Could someone do this functionality? Using (or trying to use) pipes and directives to do this work is a waste of time and lines od code...

[2018-10-31 09:30] NepipenkoIgor commented on #234
@beckon111  We will check

[2018-10-31 09:31] NepipenkoIgor commented on #233
@AntonDershen Hi. Сould you provide more complex description .

[2018-10-31 09:32] NepipenkoIgor commented on #232
@kcprabase we will check

[2018-10-31 09:33] NepipenkoIgor commented on #222
@Lev09 Hi we will check

[2018-10-31 09:34] NepipenkoIgor commented on #226
@KanKai Hi. Could you provide error message ?

[2018-10-31 14:30] beckon111 commented on #234
I tried to do config in const, but it Isn't affect on it. ()
If turn aot off build works fine. (ng build --prod --build-optimizer=false --aot=false)

[2018-10-31 18:19] iplante opened #235 "showMaskTyped cursor moves forward when input does not match mask"
This is demonstrable on the [demo page](https://jsdaddy.github.io/ngx-mask/).

1. Go to the Phone Number input with showMaskTyped=true.
2. Type numbers - the mask cursor will move forward as you type as expected, and the mask will be applied.
3. Erase your input, and start typing non-numbers (letters, special characters, etc.) in the field. The characters won't be displayed, but the cursor moves f

[2018-11-01 07:11] sashidhar540 commented on #187
We also had the same requirement to mask SSN value as 'XXX-XX-1234' and still need to retain the original value.

[2018-11-01 23:28] tcsoftwaredevelopment opened #236 "US Phone Number with Extension"
Hi,

I would like to mask US phone number with extension as phone number + x + extension, as (999)999-9999x99999, while x99999 will be optional field. I tried to put x as specialCharacters, however, it does not work, I checked the library code, x is not in the specialCharacters string array, can you add it? Or do you have any other suggestion to achieve this?

[2018-11-01 23:46] tcsoftwaredevelopment commented on #236
solved by adding x in the specialCharacters:

NgxMaskModule.forRoot({
            specialCharacters: ['/', '(', ')', '.', ':', '-', ' ', '+', ',', '@', '[', ']', '\"', '\'','x'],
        })

[2018-11-01 23:46] #236 closed

[2018-11-06 07:58] AntonDershen opened #237 "Repeat mask is not working."
When i inputed mask A {9} repeat is working.
But when i inputed A {10) (I input two or more digits value) repeat is not working.
I investigated your code:
In file mask.directive.ts your have method _repeatPatternSymbols.
In this method your have this pattern {[0-9a-zA-Z]}. This pattern match only 1 digit value for repeat mask.
Please fix that.

[2018-11-06 09:40] Exerlol opened #238 "Mask - 0*.00 not working properly"
Hello, first of all thanks for a great plugin and for all the effort your putting in this project :)

Here's what I'm currently facing in my app, I'm trying to use this mask 0*.00 on my input, something like this for example:

`<input type="number" required mask="0*.00" matInput [ngModel]="unitPrice" placeholder="Unit price" #unitPrice="ngModel" name="unitPrice">`

It all looks fine on front end a

[2018-11-06 10:03] tavianm opened #239 "ShowMaskTyped - doesn't replace letters in mask"
Hello,

First of all, thanks for this useful plugin!

I'm trying to use a mask containing `0{2}-0{5}-0{5}-A{11}-0{2}` with `[showMaskTyped]="true"`.

Unfortunately, my input appears like that `__-_____-_____-AAAAAAAAAAA-__`.

Am i missing something or doesn't showMaskTyped handle letter in mask replacing?

[2018-11-06 10:16] AntonDershen opened #240 "Mask is not working for input with type = number"
If I create number input with mask and set focus to input I will see error in console:
DOMException: Failed to set the 'selectionStart' property on 'HTMLInputElement': The input element's type ('number') does not support selection.

[2018-11-06 13:37] NepipenkoIgor commented on #238
@Exerlol  You don't use `dropSpecialCharacters` options. Default it true . You should `[dropSpecialCharacters]="false"`

[2018-11-06 13:38] NepipenkoIgor commented on #239
@tavianm  Hi. Thank you for use it. We will check this behavior

[2018-11-06 13:40] NepipenkoIgor commented on #240
@AntonDershen Yes we use mask with `text` type. Please provide your use case for number type field

[2018-11-06 15:15] NepipenkoIgor commented on #237
@AntonDershen Thank you. We will check this.

[2018-11-08 11:46] rodrigo-fonseca commented on #69
This mask is not working with Angular 5 here

[2018-11-08 13:41] nazar-kuzo commented on #240
@NepipenkoIgor,
I have faced with same problem at some point.
My use case:
I have built a text-control component that aggregates all the logic about validation etc.
This field has ability to apply field type (text, number, etc) as well as apply mask or pattern.

The problem that I have is:
I cannot disable the mask. Why do I need that? Since I have control that has ability to have a mask
but I don

[2018-11-08 19:00] newprogrammer1991 opened #241 "time"

[2018-11-08 19:00] #241 closed

[2018-11-14 16:08] Rajanusa opened #242 "% Sufix on Input Field"
Hi,

Thanks for the wonderful mask component.

I have one requirement which I am unable to implement.
Can you please help on this.

Prefix works as per our expectation.
It appear when the form load first time and user can guess what is kind of input.
For instance if we use '$' as prefix, it appear on the form load and user need not go to the particular control. Mask can be fixed(0000.00) and dynam

[2018-11-17 02:17] deividfortuna commented on #50
There is a workaround solution not using ngx-mask library
Take a look in this issue: https://github.com/angular/angular/issues/16755

[2018-11-17 21:48] iplante commented on #235
@NepipenkoIgor @Alexandr98 any updates?

[2018-11-21 11:33] Nanra commented on #229
Try this one :

mask="01:23:23"

patterns = {
    '0': {pattern: new RegExp('[01]|2')},
    '1': {pattern: new RegExp('[03]|[0-3]')},
    '2': {pattern: new RegExp('[0-5]')},
    '3': {pattern: new RegExp('[0-9]')},
  };

And i got like this Picture.
![screenshot from 2018-11-21 18-32-20](https://user-images.githubusercontent.com/9511668/48838766-ee734880-edbb-11e8-8479-e94b49b0e5e6.png)

[2018-11-22 13:33] harryy2510 opened #244 "Multiple * in mask with - does not let type properly"
I am using mask SS-SSS-A*-A*-A*
It does not let me type properly.
Using SS-SSS-A*.A*.A* rather is working fine.

[2018-11-26 04:14] neilhem commented on #226
Bad practice using ngModel with formControlName

[2018-11-27 04:56] neilhem opened #245 "Encapsulation: ShadowDom"
Mask doesn't work properly inside component with `encapsulation: ViewEncapsulation.ShadowDom`

[2018-11-28 05:22] sayax opened #246 "Mask while typing"
Hi, i came across an issue where i want mask to apply on input while typing numbers
For example, if i typed 1000 mask should apply 1 000, currently it shows like 100 0, my mask is
mask="000 000 000 000", or am i doing something wrong?
I want it to work like number pipe in angular 6, to divide number every thousandths

[2018-11-28 16:10] schirato commented on #51
Hi, when set **type=email** this is error is show **Failed to set the 'selectionStart' property on 'HTMLInputElement': The input element's type ('email') does not support selection.** and may field in desktop is crashed after input any value and try remove value inputed.

[2018-11-28 16:12] schirato opened #247 "Use mask in field email type=email"
Hi, when set my input field **type=email** this is error is show: **Failed to set the 'selectionStart' property on 'HTMLInputElement': The input element's type ('email') does not support selection.**

And may field in desktop is crashed after input any value and try remove value inputed.

I need type=email for the show keyboard email in mobile

[2018-11-29 08:03] naushadkm commented on #223
Can we have any fix for this please.

[2018-11-29 15:15] veronesecoms opened #248 "showMaskTyped seems not work"
I have this input:

`<input required [(ngModel)]="mesAnoReferente" dropSpecialCharacters="false" minlength="8" mask="00/00/0000" showMaskTyped="true" type="text" id="inputMesAno" name="inputMesAno" class="form-control">`

The mask is working but the showMaskTyped is not showing the format of my mask. I'm forgetting something?

[2018-11-29 18:58] lhenriquelpc commented on #176
@NepipenkoIgor I'm interested in this possibility.

[2018-11-29 20:02] santhosh-ps opened #249 "Using 9*.9 is not working as expected"
Thank you very much for creating this wonderful module just a minor issue we faced:

Using 9*.99 we should be able to enter '.23' i.e to begin with '.',  but it's not working, behaviour is similar to using 0*.99 as if number before '.' is required.

[2018-11-29 20:07] kosmicke commented on #226
It's happening to me to:
When I use **formControl** it works, but when I use **formControlName** (a form control inside a form group) it throws an error:

Please help me. I really like this lib because it's possible to get the 'unmasked' value.

[2018-11-30 11:57] kosmicke commented on #226
Updating: The mask works, even though it throws an error after the page is loaded.

First I thought it was because of the matInput but it wasn't. Then I found the cause:

When the value is defined as an object the error occurs:
` cpf: [{ value: ''}, [Validators.required]],`

![screenshot from 2018-11-30 09-46-16](https://user-images.githubusercontent.com/32934713/49287892-4548e400-f486-11e8-84b8-b

[2018-12-05 11:36] chrisbertrandsagecom commented on #248
ShowMaskedType only works with numbers at the moment. You will need to wrap your showMaskTyped in square brackets like so... [showMaskTyped] to get it to work.

mask.service.ts ln 34 regex needs changing to allow characters too. I will look at creating a pull request.

[2018-12-05 11:51] NeoSimvolist opened #250 "the cursor moves as you enter an invalid value"
the cursor moves in this case:
showMaskTyped = true;
Mask: +5 (000) 000 0000

try to enter something other than numbers

Is this a bug or a feature?)

[2018-12-05 17:21] AquilesOliveira opened #252 "It would be really cool if you had integration with Nativescript"

[2018-12-06 13:50] bharatlagad opened #253 "conditional mask"

[2018-12-06 13:51] #253 closed

[2018-12-07 09:00] PalanikumarNet commented on #237
It is working for only up to {9}, not working for {10}

[2018-12-10 10:44] Thegrep01 commented on #235
@iplante This problem can not be fixed

[2018-12-10 10:45] Thegrep01 commented on #250
@NeoSimvolist This problem can not be fixed

[2018-12-10 10:46] Thegrep01 commented on #222
@Lev09 We checked this, all works

[2018-12-10 10:50] Thegrep01 commented on #249
@santhosh-ps
Checked, works correctly
<img width="227" alt="#" src="https://user-images.githubusercontent.com/38587958/49727903-0aab2c80-fc7a-11e8-95bf-3ba2ffd122c1.png">

[2018-12-10 10:53] Thegrep01 commented on #247
@schirato
This mask is for text typed fields. For what you need to use it with emails ?

[2018-12-10 11:01] schirato commented on #247
To apply the mask A*@A*.SSS in an input type e-mail, since I need the keyboard e-mail in the mobile. And you do not need to do all typescript validation.

[2018-12-10 11:03] Thegrep01 commented on #247
@schirato standard html input with email type has validation

[2018-12-10 11:07] Thegrep01 commented on #239
@tavianm [showMaskTyped]="true" works only for phone number

[2018-12-10 11:21] Thegrep01 commented on #178
@ImJeevesh your mask style 00/00/000. You tried to enter 100, for this case you need to change mask to 000/00/00

[2018-12-10 11:32] #247 closed

[2018-12-10 11:50] Zima04 commented on #235
Hello @iplante,
I ran into the problem of the initial position of the cursor and wrote a function for putting the cursor in the right place of your mask.
I hope this helps you ;)

//**Your component.ts**//
setSelectionRange(input, selectionStart, selectionEnd, value) {
    if (value) return;
    if (input.setSelectionRange) {
      input.focus();
      input.setSelectionRange(selectionStart, selec

[2018-12-10 12:58] Thegrep01 commented on #248
@chrisbertrandsagecom greate answer

[2018-12-10 12:58] #248 closed

[2018-12-10 13:00] #238 closed

[2018-12-10 13:07] Thegrep01 commented on #250
The other packages work the same, we will try to fix this but later

[2018-12-10 13:07] #250 closed

[2018-12-10 13:08] Thegrep01 commented on #249
@santhosh-ps send me your package.json

[2018-12-10 13:42] #242 closed

[2018-12-10 14:07] #235 closed

[2018-12-10 14:10] Thegrep01 commented on #222
@Lev09 send us your package.json or try latest version of ngx-mask

[2018-12-10 14:47] Lev09 commented on #222
I am no longer working on that project so I don't have the package.json

But anyway thanks for your time and effort.

[2018-12-10 14:47] Thegrep01 commented on #222
@Lev09 okay

[2018-12-10 14:47] #222 closed

[2018-12-10 16:50] #237 closed

[2018-12-10 17:08] #249 closed

[2018-12-10 17:09] Thegrep01 commented on #239
@tavianm  check the latest version

[2018-12-10 17:09] #239 closed

[2018-12-10 17:23] nazar-kuzo commented on #240
@NepipenkoIgor,

Can we have this lines of code at the beginning of keydown/onFocus(click) events?
___________________________________________________________
    // ignore event handling when mask is not applied
    if (!this._maskValue) {
      return;
    }

To avoid ngx-mask logic to be injected when actual mask is not applied(not needed)

[2018-12-10 18:42] Thegrep01 commented on #246
For 1 000 you need 0 000 mask, for 10 000 - 00 000 and so on

[2018-12-11 10:16] Thegrep01 commented on #244
@harryy2510 we will check this

[2018-12-11 12:11] Thegrep01 commented on #178
@ImJeevesh we check this. And we founded that this problem appears only with google chrome/android 9/100 in input

[2018-12-11 12:33] Thegrep01 commented on #244
@harryy2510 try the latest version, we fixed this problem

[2018-12-11 12:33] #244 closed

[2018-12-11 14:33] ltburch commented on #63
mask="00000-0?0?0?0?"  The ? makes the expression *preceding* it optional.  Then when checking for zip validity just match on a length of 5 or 9.

[2018-12-11 15:06] Thegrep01 commented on #227
@kishor-p answered on Stackoverflow

[2018-12-11 15:06] #227 closed

[2018-12-11 15:14] Thegrep01 commented on #246
@sayax We added this feature in 7.1.0 ver, please update ngx-mask to the latest

[2018-12-11 15:14] #246 closed

[2018-12-12 00:34] Rajanusa opened #258 "Currency Mask allow Zero as first input(ie. $ 002500)"
Hi,

The currency mask allow Zero as first input(ie. $ 002500).
Please find my mask attribute and prefix property and let me know, how to avoid this input.
                <input type="Text"  mask='0*.00' prefix="$ " [dropSpecialCharacters]="false">
Thanks
Raj

[2018-12-12 03:51] sayax commented on #258
you should use pattern in mask as [1-9] to disallow first 0 input

[2018-12-12 04:10] sayax commented on #246
@Thegrep01  thank you for this feature, but now we have another issue that the cursor not in a right place when mask separates digits.

[2018-12-12 08:16] Thegrep01 commented on #258
`public customPatterns = {'0': { pattern: new RegExp('\[1-9\]')}};`
in your app component
`[patterns]="customPatterns"`
as input attribute

[2018-12-12 08:16] #258 closed

[2018-12-12 16:11] #229 closed

[2018-12-12 16:13] Thegrep01 commented on #70
@wolfywoof @anacoimbrag @macin40  We added 24h format validation in last version, please update ngx-mask and use Hh:m0 mask

[2018-12-12 16:13] #70 closed

[2018-12-13 12:00] komichar opened #262 "Demo page is down - returns 404"
The demo page is down.

Visiting the [https://jsdaddy.github.io/ngx-mask/](https://jsdaddy.github.io/ngx-mask/) gives 404.

It was working a few days ago when I last visited it.

Any idea?

[2018-12-13 12:01] NepipenkoIgor commented on #233
@AntonDershen  We will close this issue before you will add more complex explanation

[2018-12-13 12:01] #233 closed

[2018-12-13 12:02] NepipenkoIgor commented on #262
@komichar Hi. Thank you . We will work with new deploy system . And this page will be available soon

[2018-12-13 14:33] Thegrep01 commented on #234
@beckon111 Why do you need to declare a custom pattern ? As i see you trued to set standard values for '0' and 'A' and +7 is a prefix
<img width="442" alt="2018-12-13 16 27 07" src="https://user-images.githubusercontent.com/38587958/49945065-a34ce100-fef4-11e8-8dbb-7e841b8cdb0d.png">

[2018-12-13 15:14] Thegrep01 commented on #240
@nazar-kuzo Can you show some examples ? Because i did find this problem

[2018-12-13 15:23] nazar-kuzo commented on #240
@Thegrep01,

First off:
I want to have conditional ngx-mask appliance, so mask attribute is always present on input but the value for mask is empty (undefined or empty string). Since Angular doesnt allow to have conditional attribute appliance.

Steps to reproduce:
1. Create input[type=number] and apply attribute mask=""
2. put focus on input
3. open debug console and find errors in mask directive

[2018-12-13 15:41] Thegrep01 commented on #240
@nazar-kuzo okay but for what you need to use mask for input type=number, if you could not enter symbols or letters, only numbers

[2018-12-13 15:46] nazar-kuzo commented on #240
@Thegrep01

I get your point, but from technical standpoint:
- input[type=text] provides string value
- input[type=number] provides number value

For sure we can say that we can have a crunch in a code that will parse string value to number
but It is not something that follows the common sense in development

[2018-12-13 16:34] Thegrep01 commented on #240
@nazar-kuzo if you need to get a number value from input use input type text but initialize like this, it will be return you number value and wont emit events with empty mask
`
 this.form = new FormControl(0);
`

[2018-12-13 16:34] #240 closed

[2018-12-14 04:42] Et3rnal opened #263 "Wierd if select all used with prefix"
I found a bug on 7.2.0, using firefox and chrome
All you need to reproduce is a simple mask and a prefix, now enter anything then Ctrl + A and backspace and the prefix will be duplicated!

If you do it for a few times you can't even type!
My mask is
`mask="00 0000 0000"`
Also, is there a way to make prefix visible by default without using "showMaskTyped"?
thanks

[2018-12-14 08:34] Thegrep01 commented on #263
@Et3rnal we will check this, but prefix is visible by default

[2018-12-14 10:34] Thegrep01 commented on #226
@kosmicke can you provide more details about you config and about your form, i did not find this problems

[2018-12-14 10:36] #178 closed

[2018-12-14 12:50] NepipenkoIgor commented on #262
@komichar  Please try . And pay attention  that we added new features and fix a lot issues

[2018-12-14 12:50] #262 closed

[2018-12-14 13:04] Thegrep01 commented on #263
@Et3rnal can you give more information about your config ?

[2018-12-14 13:28] #182 closed, assigned to NepipenkoIgor, Thegrep01

[2018-12-14 16:18] emelnychenko opened #265 "Undefined value instead of emtpy string after formControl deleted"
I'm using mask for number like input. Type defined as int32 inside protobuf file.

`
<input matInput
                                           formControlName="taxId"
                                           mask="00-0000000"
                                           placeholder="Business Tax ID"

`

By default value of formControl equal "undefined". Than I've tried next scenario: write someth

[2018-12-14 16:22] Thegrep01 commented on #265
@emelnychenko First of all mask works only with input type text, if you want to gent number values from input with mask check this issue [https://github.com/JsDaddy/ngx-mask/issues/240](url)

[2018-12-14 16:31] emelnychenko commented on #265
I'm understand it. I will describe more detail. API built on PHP and using official protobuf package. `012` - it's numeric value for PHP and can be parsed as a number. `''` - it's empty string. Field is optional and can pass `null` or numeric value(string like number or real number) as valid one. My request was about replacing empty value `''` to `undefined` after any formControl modification.

[2018-12-14 16:55] Thegrep01 commented on #265
@emelnychenko as a solution can offer you to check the value from your input and if it is empty string. you can not to set value of undefined to formControlName only null value

[2018-12-14 18:23] KeithCrabtree opened #266 "Failed to set the 'selectionStart' property on 'HTMLInputElement': The input element's type ('email') does not support selection."
Running into this issue when I have an input with type 'email', even though the mask directive is not present. I saw the other closed issue that was similar but I'm not understanding why your mask directive's `onFocus` is firing in this case. Maybe something simple I'm overlooking?

[2018-12-16 02:11] soupman99 opened #267 "Currency formatting not updated supplied data"
Great  tool!

When I set `mask="*0.00"`  and type in 125.00 my value is saved as 12500 which is correct.  However, when I reload the page and data is pre-populated into the field the value in the form field reads 12500 not 125.00

Also, there should probably be a way to populate from the right.  For instance

`___.__`
`___._1`
`___.12`
`__1.25`
`_12.50`
`125.00`

[2018-12-17 08:39] #265 closed

[2018-12-17 08:42] Thegrep01 commented on #266
@KeithCrabtree Can you give a bit more information how to reproduce your problem, because i did not find this prob

[2018-12-17 09:19] Thegrep01 commented on #267
@soupman99 Because you save 12500 and mask does not know where put . , however if you use 000.00 mask will work correctly or you can use `[dropSpecialCharacters]="false"` and save 125.00

[2018-12-17 11:46] humpedli opened #268 "Separator is not working with sufix"
If I combine **separator** mask type with **sufix**, input reacts weird.

`<input type="text" mask="separator" sufix=" HUF">`

Examples:

Type in: `1` You will get --> `1 HUF` = _ok_
Type in: `11` You will get --> `11HU HUF` = **not ok**, expected: `11 HUF`
Type in: `111` You will get --> `111HUHU HUF` = **not ok**, expected: `111 HUF`
Type in: `1111` You will get --> `1 111HUHUHU HUF` = **not ok*

[2018-12-17 11:46] Thegrep01 commented on #263
@Et3rnal I check, but did not find such proplem

[2018-12-17 11:46] #263 closed

[2018-12-17 13:32] Thegrep01 commented on #268
@humpedli Yes now separator is not working with sufix, we will add this in next versions

[2018-12-17 13:53] Thegrep01 commented on #232
@kcprabase i did not find this prob, please give more details about your prob and config or  try the latest version of ngx-mask

[2018-12-17 13:53] #232 closed

[2018-12-17 14:09] #226 closed

[2018-12-17 19:24] KeithCrabtree commented on #266
@Thegrep01 my issue was a little strange. I have what is essentially an input component. It's simply a label and input with a handful of `Input`s that set attributes and so on. One of these I had called `mask`, which was the string I wanted to use for the phone/postal code mask and `null` otherwise. Apparently you can't conditionally add/remove the mask attribute so I created another input compone

[2018-12-17 19:24] #266 closed

[2018-12-18 13:31] christopheelkhoury commented on #214
@gfdeluca I didn't understand your requirement

[2018-12-18 13:33] christopheelkhoury commented on #176
@lhenriquelpc why not open a PR with it?

[2018-12-19 15:09] nickinylin opened #269 "separator with "." instead of "space""
Hello! I really like your tool! Unfortunately im stuck with a problem. Is is possible to make the thousand separator with a dot "." instead of a space between the numbers?

[2018-12-19 16:03] Thegrep01 commented on #269
@nickinylin We will add this functionality in latest versions

[2018-12-19 19:16] Thegrep01 commented on #269
@nickinylin maybe tomorrow

[2018-12-19 19:50] nickinylin commented on #269
Wow perfect! That was fast 🎅🏼😃 have a great day

[2018-12-20 11:40] Thegrep01 commented on #269
@nickinylin check the latest version and readme

[2018-12-20 13:40] LaserUnicorns opened #271 "Add ability to replace/overwrite character in the middle of input instead of inserting"
Example project - https://stackblitz.com/edit/angular-5lfprb
When I position cursor like that `123-4|56-789` and press any digit, input state becomes `123-40|5-678` - 0 inserted between 4 and 5, 9 is truncated.
It would be good to have the ability to replace characters, so input state would be `123-40|6-789`.

[2018-12-20 16:23] gotshoo commented on #223
I got this to work in IE11 by removing the maxlength attribute, but in Edge I had to remove the attribute and then use the (blur) event instead of (change).

[2018-12-24 14:06] ganeshjangam opened #272 "Show special characters #"
Hello,

 Tried multiple ways but not able to apply masking for this value : **123451234512345123451234512345123**

its a secrete code and
Expected mask like this : **###.#####.####.######.######.####.#####**

How can i do this ? Please guide.

[2018-12-24 14:14] gvsouza opened #273 "Dependencies"
Aren't the @angular/* dependencies supposed to be only on devDependencies, what if I want to install on Angular 6 version?

Which version of the Angular is going on the final bundle 6 and 7?

[2018-12-24 15:05] NepipenkoIgor commented on #273
@gvsouza Hi, we use Angular 7. But i think you are available to use 6 in you app with our package .

[2018-12-24 23:30] lhenriquelpc commented on #176
@christopheelkhoury, do you mean a PR to improve the documentation?

[2018-12-26 07:14] NepipenkoIgor commented on #268
@christopheelkhoury It will be awesome if you can help us

[2018-12-29 18:31] denisbetsi opened #274 "Mask Not Working"
Using the sample provided

**Module:**
import {NgxMaskModule} from 'ngx-mask';
imports: [
NgxMaskModule.forRoot()
];

**Component:**
<input type='text' prefix="+7 " mask="(000) 000 00 00" >

**Additional info:**
- There are NO Error in console
- Augury Shows NgxMaskModule is loaded

**End result:**
Nothing happens on the input when I interact with it.

**Package.json:**
  "dependencies": {
    "@a

[2019-01-02 01:52] arimus commented on #240
Just another note here for others who stumble on this. Yes, you can use a text type to prevent the error, but note that in certain context like mobile / ionic you won't get the specialized numeric keyboard when inputting, which is a user experience concern....unless you add a pattern to the input field.

See: https://stackoverflow.com/questions/6178556/phone-numeric-keyboard-for-text-input

[2019-01-02 01:57] nazar-kuzo commented on #240
@arimus,

Pattern is a crutch for numeric, but it wont work for type=email where specialized keyboard setup will apper.

To fix the issue with a mask I have created a custom directive that handles the errors.

[2019-01-02 12:40] nickinylin commented on #269
This was very helpful, but i noticed something i apperently didn't test for before. Isn't it possible to write a negative value? I can only write positive, so i can't put a "-" in front of the value

[2019-01-02 16:13] Rajanusa commented on #242
Hi

I tried with latest version but it did not work.
May I know whether it is available in latest version and waiting for some one approval to merge the commit.

Thanks
Rajan

[2019-01-03 00:46] luishmcmoreno commented on #263
I'm facing the same problem.

Config:

[code]
My HTML:
    <input class="form-control" type="text" id="plate" prefix="BUS-" mask="AAA-AAA" formControlName="plate">

When I press Ctrl+A (Select All) and backspace, the value of the input transform to: BUS-BUS

[2019-01-03 09:13] Thegrep01 commented on #274
@denisbetsi Could you provide a bit more details about your usage of mask, cause i did not find this prob

[2019-01-03 09:36] Thegrep01 commented on #269
@nickinylin you can use [dropSpecialCharacters]="false"

[2019-01-03 11:18] nickinylin commented on #269
I don't think that works as expected. I can't write a a "-" initially, and if i write for example "1234" and put the curser in the beginning and write "-", then the field is now "-123" and i can't add anything anymore to the input field. I have to delete it all again :( Thanks for your time!

[2019-01-03 13:48] Thegrep01 commented on #269
@nickinylin fix this, it will be added as soon as possible

[2019-01-03 15:41] #269 closed

[2019-01-04 09:01] Thegrep01 commented on #274
@denisbetsi It is interesting because i use your config and mask works correct

[2019-01-06 16:04] #273 closed

[2019-01-07 13:25] akvaliya opened #276 "clearIfNotMatch is not working properly with mask 0*.00"
I am trying to use mask `0*.00` for amount & i tried to use `[clearIfNotMatch]="true"`

As per ex. `2017.22` is valid value but it still clears input on blur.

So basically with mask `0*.00` if you use `[clearIfNotMatch]="true"`, it clears input even if value is valid.

I tried with different valid values & it clears every time whether value is valid or not.

What am i missing here?

[2019-01-08 05:57] EkaterinaMozheiko opened #277 "Using thousand separator mask and decimals at the same time"
Hi,
your new feature of thousand separator mask is great, but is it possible to add feature to enter decimals while using mask for thousand separator? It is especially important for currency fields.

[2019-01-08 09:31] Thegrep01 commented on #277
@EkaterinaMozheiko Hi, we added this in the new version

[2019-01-08 11:04] Thegrep01 commented on #277
@EkaterinaMozheiko check the latest version

[2019-01-08 11:04] #277 closed

[2019-01-08 13:16] Thegrep01 commented on #276
@akvaliya Now `[clearIfNotMatch]="true"` does not works with multiply mask, we will add this in new versions

[2019-01-10 04:51] juanprojas opened #279 "mask dot_separator allows special characters"
Hi,

Why when i use mask="dot_separator" or separator, the mask allows special characters? , i used  [dropSpecialCharacters]="true" but it does not work either, is this a bug?

[2019-01-11 14:18] tanjuyayak opened #280 "Error on Dynamic Mask Change"
Hi,

I am trying to create an input with dynamic mask change behaviour and changing mask over input length . I am sending sample code below. When I enter an input with 14 length first mask is applied correctly but if i remove one char then input value changed itself and delete some characters. And when component opens first time, default mask is not applied. I actually tried many ways to do that.

[2019-01-11 15:19] RazvanDuma opened #281 "Thousand separator using comma"
Hi,

   Right now, for thousand separators are available empty space and dot.
   Can you add a new type of separator having **comma for thousand and manually inserting dot for decimal**, please? I need it for prices in the UK currency that looks like this: 4,294,967,295.00
   Thanks for this amazing mask tool! Have a great day!

[2019-01-11 22:45] Rajanusa commented on #258
Hi,
A user should be allowed to enter 0.50 but should not be allowed to enter 075
Please suggest.
Thanks
Raj

[2019-01-11 22:53] Rajanusa opened #282 "Currency Prefix $ is not appear in input control on form load in DEV Server / QA Server"
Hi

I use the ngx-mask and it works in local web app and hosted web app.
In local web app, on form load, all control has $ prefix without user focus on any input control.
The same app hosted in DEV Server/ QA Server, it shows $ prefix only when focus on that control otherwise, it is not showing.
This is behavior comes in Chrome browser and did not check other browser.
I want all the prefix to appe

[2019-01-13 12:32] frkntony opened #284 "ngForm bug, mask removes some symbols"
For some reason I'm unable to get several symbols as my value e.g .@

Well, I'm trying to use it for facebook validation. It forces me to use the mask. I'm only allowed to type numbers, letters and dots --> expected behavior. All good here. However, I try to get my value in ngForm, it throws the error.

The code that causes the bug:

**my ts**
[code]
**my html**

`<input type="text" name="facebook

[2019-01-14 12:22] Ricky24595422 commented on #281
waiting for it:)

[2019-01-15 10:59] sebikeller commented on #284
Seems like `.` is a [special character](https://github.com/JsDaddy/ngx-mask#specialcharacters-string-) compared to `_`, so you should add `dropSpecialCharacters="false"` to your `<input/>`'s attribute list, then it works.

[2019-01-16 12:21] frkntony commented on #284
Yup, it fixed it.

I probably should read docs more careful next time.

Thanks a lot for the answer.

P.S.
**I suggest that everything should be a special character**. Meaning '_' shouldn't work as well. I think if underscore didn't work it'd shed some light on the problem for me. I really got confused because I didn't see '.' under the special characters.

[2019-01-16 12:21] #284 closed

[2019-01-16 12:40] sebikeller commented on #284
You can also define the special characters by yourself. #rtfm ;)

[2019-01-17 10:43] jonathanantoine commented on #184
Thanks a lot for sharing your knowledge, this saved me a lot of time. I created a Pull Request to ask for a doc update : https://github.com/JsDaddy/ngx-mask/pull/285

[2019-01-17 12:36] SwapnaliJare commented on #280
Hi,
I am also facing same issue I have implemented dynamic mask change on change of selected country.
But it deletes some characters from end of phone number even though mask is changes correctly. Please help out on these.

[2019-01-21 07:20] davenlin19 commented on #281
@Thegrep01 I see coma_separator in Readme but seems like it is still in develop branch ?

[2019-01-22 15:53] achubai commented on #279
I have the same question/issue and think it is a bug because you can do such things:
`mask="separator" --> 223 123,,,,,.123123,,,`
`mask="dot_separator" --> 23.213      ,123213       0`

[2019-01-22 15:56] Yokhtop opened #287 "Clearing input value using select all and backspace doesn't fire input event"
Hi. Assigning a prefix as input value in `keydown` event when the prefix is empty prevents firing `input` event.

[code]

Thanks.

[2019-01-23 18:09] dombakargy commented on #126
zoli887 solved

[2019-01-23 18:23] Tipster74743 commented on #268
This is affecting the dot_separator and coma_separator as well. I could also do a PR if needed.

[2019-01-24 00:25] ricardorueda opened #288 "Error on MaskService.applyMask"
I'm trying to use a mask on a reactive form.
There is an error saying that you can not apply the mask because you did not find the formControlName.
Is there any solution to fix this problem?
My reactive form is loaded with an observable.
Here are the code snippets:

My html:

`	<div class="col-md-3 m--margin-bottom-10-mobile">
									<mat-form-field class="mat-form-field-fluid" appearance="outli

[2019-01-24 08:16] Thegrep01 commented on #268
@Tipster74743 It will be great!!!

[2019-01-24 09:34] christopheelkhoury commented on #268
Y'all still need help with this?

[2019-01-24 13:13] drafenous opened #289 "Dynamic Mask Issue"
Hi everyone,
I'm using by the first time this module, and i trying to make a dynamic mask change for brazilian phone.

In brazil, we have 2 phone numbers formats:
Residential numbers: (00) 0000-0000 (area code) 4 digits - 4 digits.
Mobile numbers: (00) 90000-0000 (area code) 5 digits - 4 digits.

How to make to change this mask format when user is typing?

Kind Regards,
Drafenous.

[2019-01-27 13:53] asp-id commented on #199
Any news? Still not working in 7.3.3

[2019-01-27 14:28] asp-id opened #290 "Custom patterns not working with AOT compiler"
ngx-mask version - **7.3.3**
angular version - **7**

NgModule configuration
[code]

Usage in html template
`<input matInput="" formControlName="applicationNumber" mask="Z{20}"/>`

When compile with `--aot` flag (`ng serve -o --aot`) mask not working. User can not enter any symbols. Unfortunately **AOT** compiler using **by default** for **production mode**, so custom patterns functionality is bro

[2019-01-28 12:03] cmaart opened #291 "Delete key not working with 'showMaskTyped'"
Reproducable on the demo site for me. Enter something in the field, tab out of it, tab back to it (or click inside and CTRL+A) and use the DEL key to remove the contents. Model is not updated. Backspace works.

![image](https://user-images.githubusercontent.com/4008452/51835239-11126800-22fd-11e9-8d24-32716deb9920.png)

[2019-01-28 14:06] RazvanDuma opened #292 "Thousand separator mask allows @ and # symbols"
Hi guys,

First of all, thanks for adding the comma separator.
While testing it, I saw that you can write @ and # symbols as an input value.
Is there a reason for this or just an omission? Also, you can add empty spaces while using comma or dot separator mask.
As I think, adding symbols should not be allowed in this case.
![screenshot 2019-01-28 at 15 40 32](https://user-images.githubusercontent.c

[2019-01-28 15:33] Tipster74743 commented on #268
I'm going to make a PR for that.

[2019-01-28 21:51] sdesmond opened #293 "Invalid mask does not mark form field as invalid"
I don't see any examples of this behavior, but it seems like an obvious use case.  If the field does not match the mask, is it supposed to mark the form field as invalid?

When using the mask in a form, I would want an invalid entry to trigger an invalid form, but I'm not seeing any errors in my app when the input is not filled out properly.

[2019-01-29 02:08] jgirald-bdb opened #294 "Block - if - duplicate in MaskApplierService"
Hi,

Branch: Master
File: [mask-applier.service.ts](https://github.com/JsDaddy/ngx-mask/blob/master/src/app/ngx-mask/mask-applier.service.ts)

[Line 100](https://github.com/JsDaddy/ngx-mask/blob/b3a913c45076de010467c7366450d738e4225a65/src/app/ngx-mask/mask-applier.service.ts#L100): else if (this._checkSymbolMask(inputSymbol, maskExpression[cursor]))
[Line 143](https://github.com/JsDaddy/ngx-mask/

[2019-01-29 12:53] IldarZainulinDev opened #295 "pipe spec"

[2019-01-29 12:53] IldarZainulinDev opened #296 "pipe spec"

[2019-01-29 12:53] IldarZainulinDev opened #297 "pipe spec"

[2019-01-29 12:55] #295 closed

[2019-01-29 12:55] #296 closed

[2019-01-29 12:55] #297 closed

[2019-01-29 13:06] IldarZainulinDev opened #298 "cant add specialCharacters to pipe"
Example:
[code]
my expectations: 7-2222-333-444 Int. 5555

[2019-01-30 18:09] gedvan commented on #287
The `change` event is not been triggered as well.

[2019-02-01 09:00] newprogrammer1991 commented on #274
I have this issue also

[2019-02-01 09:11] newprogrammer1991 opened #299 "ng build --prod"
Please help, input isn't interact, I use
              clearInputIfNotMatch="true"
              maskPattern="'Hh:m0'"

[2019-02-04 16:07] spelbreker commented on #289
same problem. other case

[2019-02-04 17:20] spelbreker commented on #289
<input type="text" [mask]="currentMask" [formControl]="splitCtrl">

TS file
`  currentMask = '00:00:00.00';`

it changed the mask in code now

[2019-02-04 20:05] taivu commented on #124
@StephenRiosDev what was your solution?

[2019-02-04 20:40] taivu commented on #190
I was able to get this to work by importing `NgxMaskModule` into my child module, and under `imports` i have `NgxMaskModule.forChild()`

[2019-02-04 20:41] taivu commented on #190
to clarify, inside of my imports in `app.module` im using `NgxMaskModule.forRoot()` and inside of my lazy loaded module `lazy.module` i have `NgxMaskModule.forChild()`. v7.3.5

[2019-02-05 00:16] that70schris commented on #161
this doesn't really seem sufficient, using `mask="$000,000"` with input `1234` yields `$123,4`

[2019-02-06 16:53] Yokhtop commented on #287
I guess it can be fixed by wrapping the line:
`el.value = this._maskService.prefix;`
Into if statement:
[code]

[2019-02-07 09:23] #287 closed

[2019-02-07 09:24] #289 closed

[2019-02-07 12:39] #294 closed

[2019-02-07 12:39] #292 closed

[2019-02-07 12:39] #279 closed

[2019-02-07 15:00] basvdijk opened #302 "Comma stripped from number by dropSpecialCharacters"
When I enter a number say: 1.931,89 the result in the model becomes 193189 instead of 1931.89 It looks like dropSpecialCharacters() removes the comma as well.

[code]

[2019-02-07 17:40] zaalbarxx opened #303 "Mask no applied properly after clearing input"
Hi!
I found some issue with mask and prefix. You can check it out here:
https://stackblitz.com/edit/angular-nly5eu
Basically when you fill the input with some value and then you select the whole text and use backspace to clear the value the mask will behave incorrectly. Considering this scenario:
![image](https://user-images.githubusercontent.com/3301242/52431013-a389e700-2b07-11e9-8648-f8337f2939

[2019-02-08 11:34] Thegrep01 commented on #302
@basvdijk we will fix this in the latest versions

[2019-02-10 01:12] ermamud opened #304 "clearIfNotMatch not working for Reactive Form"
Using the latest version at the moment (`7.4.0`), the `clearIfNotMatch` does not work for a reactive form field. This is my code example:
[code]

I tried with the `forRoot` method on the `app.module.ts` file and I tried on the template as shown above without any success. Any idea if I am doing it wrong?

Thank you,
Ernesto

[2019-02-11 09:58] #302 closed

[2019-02-11 10:02] #176 closed

[2019-02-11 10:13] #245 closed

[2019-02-11 12:56] basvdijk commented on #302
@Thegrep01 any thoughts on when a new version will be released with this bugfix?

[2019-02-11 14:23] basvdijk opened #305 "Comma number gives NaN in model with dot_separator.2"
With #302 is fixed, now a new issue appears:

If I enter for example 5320,32 in a textbox with `dot_separator.2` it is displayed as 5.320,32
The model however contains `NaN`

When using `coma_separator.2` everything works fine

[2019-02-11 14:25] basvdijk opened #306 "Console is flooded with tables"
When using the plugin, the console gets flooded with tables:

![image](https://user-images.githubusercontent.com/644550/52569297-274a1900-2e11-11e9-8ecb-bd8765809c95.png)

[2019-02-11 14:26] Thegrep01 commented on #306
@basvdijk Hello, sorry today will be updated

[2019-02-11 16:15] #306 closed

[2019-02-12 07:53] basvdijk commented on #305
@Thegrep01 Do you have any estimate on when this bug could be fixed?

[2019-02-12 08:11] Thegrep01 commented on #305
@basvdijk Hello could you provide a bit more details, because i did not find this problem

[2019-02-12 14:22] basvdijk commented on #305
@Thegrep01 I am using the textbox like:
[code]

As soon as I enter a `,` the value becomes NaN. I have feeling this has something to do with a number containing a comma can not be parsed. So before parsing, first the comma need to be changed with a dot. I noticed that `parseFloat(',323')` gives `NaN`

[2019-02-13 08:33] Thegrep01 commented on #305
@basvdijk ngx-mask works with input type text

[2019-02-13 09:18] basvdijk commented on #305
Unfortunately I have the same `NaN` error with a text input:
[code]

When I use `coma_separator.2`:
[code]
Everything works fine. The weird thing is when I checkout the ngx-mask code the tests run fine. As soon as I use it in our project we have this `NaN` issue only with `dot_separator.2`. Looks like some conversion to a number with a comma breaks or something.

[2019-02-13 09:50] basvdijk opened #307 "Non-decimal value isn't shown with decimals, when mask describes decimals"
When using for example the `dot_separator.2` mask, with a non-decimal value e.g. 12. It is displayed as 12 instead of 12.00 (with two zeroes, as defined by the mask)

[2019-02-14 07:50] Wisdomb33r opened #308 "Pasting into masked input not working"
I think the following behavior is not intended. Here is a minimal stackblitz project to reproduce my case :

https://angular-t9hazm.stackblitz.io

There is a single input field with a simple mask 000.000.000
Pasting 123456789, the resulting string in field is correctly 123.456.789
Pasting 123.456.789, the resulting string in field is correctly 123.456.789
Pasting 123.a456.789, the resulting string

[2019-02-14 12:52] galan83 opened #309 "coma_separator with 4 decimals does not work"
When I  comma_separator defining 2 decimals, everything works like a charm, but if I need 4 decimals, mask works ok, but the form returns the value without any decimal.

e.g.
 <input matInput placeholder="Price" mask="coma_separator.4" prefix="$" formControlName="price" />

If I write 1,000.2523, the form control will store 10002523 as its value.

[2019-02-14 15:41] basvdijk commented on #309
Could this be related to #302 ?

[2019-02-14 16:39] galan83 commented on #309
I think so.

[2019-02-14 18:46] basvdijk commented on #309
@galan83 you can grab the latest version of ngx-mask which solves this issue

[2019-02-14 19:33] galan83 commented on #309
Hi again, thank you for your answers. I'm using last version of the library: 7.4.2

[2019-02-14 20:22] galan83 commented on #309
I've seen this in mask.service.ts:

`if ((this.maskExpression === 'coma_separator.2' && this.dropSpecialCharacters === true)) {
      this.maskSpecialCharacters = this.maskSpecialCharacters.filter((item: string) => item !== '.');
  }`

I think that hardcoded 2 is the problem.

[2019-02-14 20:35] basvdijk commented on #309
When I look at it, I think it should be `comma` instead of `coma` https://en.wikipedia.org/wiki/Comma

[2019-02-14 21:07] sasos90 commented on #288
I have some problem when I want to set the value for form. Then I get this similar "There is no FormControl..." error. If I put a timeout there even for 0 milliseconds, just to wait for the next tick, the setting of the value is working. But thats ugly :/

[2019-02-14 21:33] ricardorueda commented on #288
I resolved changing my reactive forms configuration in component.
This solution has been found in a topic of Stackoverflow... I dont remember the link now...

[formControl]="form.get('CNPJ')"

[2019-02-15 07:27] sasos90 commented on #288
This really works! Thanks man!

[2019-02-15 09:34] NepipenkoIgor commented on #308
@Wisdomb33r  Hi i have just tested your cases and everything work correct. Which version of ngx-mask do you use ? Could you provide your package.json and ngx-mask configuration

[2019-02-15 09:54] swathianupuram opened #311 "Masking Format starting with number 9 is not working properly with version 7.4.2"
we have been using ngx-mask for a while in our project. With version 6.3.8 all our mask patterns were worked fine but post upgrading to 7.4.2 version Masking is not working properly. Can you please have a look at this and let us know if we have any workaround for this.

Please validate the fields Telephone number 1, ISBN, Date and Format fields in the below links. we could see that the field telep

[2019-02-15 15:56] bradenpoirier commented on #94
Issue persists on up to date Samsung Galaxy S7 (SM-G930F) when demoing on https://jsdaddy.github.io/ngx-mask/

[2019-02-15 15:57] Dok11 commented on #94
@bradenpoirier what browser are you using?

[2019-02-15 15:58] bradenpoirier commented on #94
This is occurring on Samsung Internet browser

[2019-02-15 16:00] Dok11 commented on #94
![image](https://user-images.githubusercontent.com/2697890/52868291-eecd7680-3153-11e9-989b-e86875a68140.png)

[2019-02-15 16:03] bradenpoirier commented on #94
Can we expect a fix for this? It looks like this has been fixed on other plugins..

[2019-02-15 16:38] #309 closed

[2019-02-15 16:43] #288 closed

[2019-02-18 10:45] Wisdomb33r commented on #308
Hi @NepipenkoIgor
You can see my configuration [here](https://stackblitz.com/edit/angular-t9hazm?file=package.json) in my small stackblitz project to reproduce my problem. ngx-mask is : "ngx-mask": "^7.4.2"

I'm getting this behavior on both Edge and Chrome. No Firefox at work to test.

What do you have in the field if you paste aa123aa456aa789aa ? I'm getting 123.456 instead of 123.456.789.

[2019-02-19 09:38] ramzanh opened #312 "Custom pattern optional character"
I'm trying to create mask for optional negative decimal number.
This doesn't work: https://stackblitz.com/edit/angular-9mdtqs
Any symbol can be written to the first place. `optional` boolean option does nothing

[2019-02-19 17:57] brunnoDatum commented on #311
Same problem! If I change the '9' for '0' it works, but then when I have spaces after a special character, it doesn't work fine in firefox. Like if I try to backspace and has this space after a special character, it doesn't work.

[2019-02-19 18:14] brunnoDatum opened #313 "Mask with space do not backspace on Firefox"
When I have spaces after a special character, it doesn't work fine in firefox. Like if I try to backspace and has this space after a special character, it doesn't work.

Mask: (000) 000-0000

In firefox if I backspace then it get stuck on the space after the ). You need to move the cursor to the ) and then works.

<input type="tel" class="form-control" id="billMobilePhoneNumber1" autocomplete="off

[2019-02-20 01:46] MarceloPetrucio commented on #311
Same problem!

I want to use the mask "000.000.000-99", but it does not work because of the number 9.

I would also like to make a dynamic phone mascara, for this I imagine that I need the number 9 to do this test.
mask: "(000) 90000-0000"

I use the chrome, any suggestions?

[2019-02-20 07:19] basvdijk commented on #305
@Thegrep01 why is this issue closed? Was it fixed?

[2019-02-20 08:25] malbarmawi commented on #309
When this gone to publich I still have this problem 🐞 , at 7.4.3

[2019-02-20 13:59] malbarmawi opened #314 "using unlimited decimal values with coma_separator or dot_separator"
I try to use **`coma_separator.`** and I need to be able to enter decimals value base on the documentation

`For using decimals enter '.' to the end of your input to 'separator' or 'coma_separator' mask and ',' to 'dot_separator'`

So this way I was prevented from entry `.` dot
`   <input type='text' mask="cmoa_separator."  formControlName="number" >
`
this way will work for me limit to 25 charact

[2019-02-22 11:01] colotiline commented on #306
7.3.6 (https://www.npmjs.com/package/ngx-mask) doesn't seemed to be fixed.

[2019-02-23 22:02] remoteme commented on #293
I was going to ask exactly the same question, it would be a great feature !

[2019-02-26 07:04] sheikalthaf opened #315 "feat: shall we add prettier as a code formatter?"
Hi @NepipenkoIgor ,

Just gone through the source code and found that their is no code formatter in the source. This will be very hard to some to contribute in the repo. Please add any code formatter to the repo.

If you want i will add ***prettier*** as a code formatter and create a PR

Thanks for the awesome work

[2019-02-26 09:42] dzonatan commented on #70
@Thegrep01
If using only `Hh:m0` without seconds part (s0) it doesn't work correctly because "m0" is being treated as month mask rather minutes. Is there a workaround for this?

[2019-02-26 11:00] dzonatan opened #318 "Minutes mask broken in v7.3.6"
From `v7.3.6` when using `Hh:m0:s0` mask, the minutes part `m0` accepts only month valid values [00-12].
In `v7.3.5` no issues.

[2019-02-26 14:09] simoncen commented on #70
My solution *for now* is to use `Hh:s0:s0`, since it is only text value, `s0` and `m0` has no difference. Until `ngx-mask` fix this issue, I think this is the simplest (if not best) work around solution.

[2019-02-27 10:50] NASunderland opened #320 "Default placeholder"
Hi there!

Nice work on this :)

I have a question:

I have an input:

<input type="text" name="juniorDOB" placeholder="DD/MM/YYYY" [patterns]="customPattern" mask="DD\-MM\-YYYY" [showMaskTyped]="true"/>

and a very simple pattern:

    customPattern = {
        'D': {
            pattern: new RegExp(/[1-9]/),
        },
        'M': {
            pattern: new RegExp(/[1-9]/),
        },
        '

[2019-02-27 10:53] #320 closed

[2019-02-27 10:54] NASunderland commented on #320
okay I clearly didn't look hard enough: https://github.com/JsDaddy/ngx-mask/pull/283

[2019-03-01 12:53] dzonatan commented on #287
@Thegrep01 why this issue was closed?
I don't see this to be fixed in `7.3.6`.

[2019-03-04 19:18] tcrite commented on #267
I agree with having ability to start typing from the right would be a nice to-have. A similar issue I'm having is if I pass in say, 6.3...I'd expect 6.30 to be displayed. Instead I'm just getting the 6.3. I tried using masks of "000.00", "999.99", and "coma_separator.2"

[2019-03-06 08:36] blondie63 opened #322 "Ionic 4"
Can i use this ngx-mask with ionic 4 & Angular 7 ?
Thanks

[2019-03-06 20:39] adamcoard-maximus commented on #313
The error occurs in IE (Edge) as well as FireFox. Chrome works fine and backspaces through the characters.

These bugs occur on the demo in the phone number input: https://jsdaddy.github.io/ngx-mask/

[2019-03-07 21:47] kevinrstone opened #323 "Expose a service for applying mask in typescript"
Please advise how to apply a mask in typescript code.

Correct me if I am wrong, but I do not see any exposed service that I can use to do this. MaskService cannot be injected into a service, because it requires an ElementRef, which throws an error on injection `NullInjectorError: No provider for ElementRef!`.

There is another service MaskApplierService, but it is not exposed in the public_api. I

[2019-03-08 17:16] luisaureliocasoni opened #324 "Get raw value of field using number mask"
Hello,

I have the following issue: I am using text fields with number mask, of following way: `mask='9'`. But I want to consider invalid the empty fields. But when the validator is accessing the masked empty field, the value attribute is 0.

I do not want to consider empty values a zero. I want to consider empty values as invalid. I have tried to put the `Validators.required` validator before the

[2019-03-08 17:21] brunnoDatum commented on #313
I noticed safari works fine too. So it is firefox and Edge.

[2019-03-09 12:36] sonamgupta-kiwi opened #325 "'-' is allowed to type in comma separator | how can I disallowed '-' in it ?"

[2019-03-09 12:40] sonamgupta-kiwi commented on #325
I can enter the value like ------789779,8798.90

[2019-03-10 13:08] lfreneda commented on #274
@denisbetsi fixed?

[2019-03-10 16:13] BasOnTech opened #326 "Decimal character is removed from NgModel when using dot_separator"
When I checkout the repo and run the app with `ng serve`, there is a bug with the decimal in the `dot_separator` example

![image](https://user-images.githubusercontent.com/37171897/54087805-32805e00-4357-11e9-98b3-834ea4fae64e.png)

As you can see in the screenshot the textfield contains the value `1.239.348.534,3847`
while the model contains `12393485343847`
instead of `1239348534.3847`

It look

[2019-03-10 16:25] chr1soscl commented on #160
@Oddadmix Hi, I am also looking to mask a Credit card number, what mask did you use?

[2019-03-10 18:06] lfreneda commented on #128
@dancornilov, fixed?

[2019-03-11 10:05] Thegrep01 commented on #291
@cmaart we do not find this problem, try to use the latest version

[2019-03-11 10:05] #291 closed

[2019-03-11 10:11] Thegrep01 commented on #314
@malbarmawi hello, you should add dot/coma for decimals not in mask expression. In your input type dot/coma when you want to use decimals. If you want 955.100 such output in ngmodel  you need to use this - [dropSpecialCharacters]="true"

[2019-03-11 10:11] #314 closed

[2019-03-11 10:23] Thegrep01 commented on #298
@IldarZainulinDev Cause mask pipe use our mask service and we do not have such mask '0-000-000-000 Int. 0000

[2019-03-11 11:41] Thegrep01 commented on #308
@Wisdomb33r delete `maxlength="12"` and mask will work correct

[2019-03-11 11:41] #308 closed

[2019-03-11 14:00] Thegrep01 commented on #322
@blondie63 yes

[2019-03-11 14:00] #322 closed

[2019-03-11 14:05] Thegrep01 commented on #325
@sonamgupta-kiwi Hello, check the 7.5.0 version or later

[2019-03-11 14:05] #325 closed

[2019-03-11 14:06] NepipenkoIgor commented on #313
@brunnoDatum @adamcoard-maximus Thank you and you could try latest version of ngx-mask

[2019-03-11 14:06] #313 closed

[2019-03-11 14:06] Thegrep01 commented on #318
@dzonatan  Hello, check the 7.5.0 version or later

[2019-03-11 14:06] #318 closed

[2019-03-11 14:07] ValeriaKochegarova commented on #326
@BasOnTech we fixed  this you can use it in the latest version

[2019-03-11 14:07] #326 closed

[2019-03-11 14:11] NepipenkoIgor commented on #299
@newprogrammer1991 We tested cases but everything work .You could provide more complex explanation  or please try latest version

[2019-03-11 14:11] #299 closed

[2019-03-11 14:17] NepipenkoIgor commented on #315
@sheikalthaf  we have just added prettier. Thank you for suggestion .

[2019-03-11 14:17] #315 closed

[2019-03-11 14:43] basvdijk opened #330 "NgModel value contains comma when dot_separator is used"
With the fix of #326 (Thanks for fixing so fast!) a new issue occurred. As shown in the screenshot below, when I enter `10.923,9093` the NgModel contains `10923,9093` instead of `10923.9093` which is not a valid `float`

![image](https://user-images.githubusercontent.com/644550/54131952-aa13c300-4413-11e9-9f0c-d8b1c43df3cc.png)

[2019-03-11 14:44] Thegrep01 commented on #330
@basvdijk okay we fix this soon

[2019-03-11 14:46] basvdijk commented on #330
@Thegrep01 Great! 👍

[2019-03-11 15:02] NepipenkoIgor commented on #293
@sdesmond @remoteme  We will add this in next release

[2019-03-11 17:42] NepipenkoIgor commented on #293
@sdesmond @remoteme  Thank you. Please latest version of ngx-mask

[2019-03-11 17:42] #293 closed

[2019-03-11 17:43] NepipenkoIgor opened #332 "Update gh-pages"

[2019-03-11 17:44] NepipenkoIgor commented on #332
Please check all cases

[2019-03-11 21:11] Gustav0ar opened #333 "Optional characters at the end not working"
Hi,

I'm having trouble with optional characters with both custom pattern and optional number using "9" at the end of the string. The optional characters aren't optional, they stay mandatory and it is causing control validation error. You can look at the example I did here:

https://stackblitz.com/edit/angular-cmmj4g

Any chance for a fix for this or a way to make it work?

[2019-03-12 01:59] bryanmartinez01 commented on #324
I am having the same problem, the value of the model is 0 instead of empty.

[2019-03-12 11:03] Thegrep01 commented on #333
@Gustav0ar Hello we will fix it today

[2019-03-12 11:42] marekozw commented on #324
Same thing here.

Consider the scenario:
1. fill the input with e.g. '111 111 111'
2. CTRL+A
3. Backspece/Dlete

No validation message is present. The form still thinks the value is '111 111 111'.

[2019-03-12 12:14] marekozw commented on #324
It apears that the problem is no longer valid since version @7.6.0.

@luisaureliocasoni, @bryanmartinez01 could you check if upgrading to 7.6.0 helped you as well?

[2019-03-12 12:39] ValeriaKochegarova commented on #303
@zaalbarxx we fixed this you can use it in the latest version

[2019-03-12 12:39] #303 closed

[2019-03-12 13:18] ValeriaKochegarova commented on #332
👌🏻

[2019-03-12 13:18] #332 closed

[2019-03-12 14:27] ValeriaKochegarova commented on #312
@Yokhtop  Hey, what do you mean with "optional negative decimal number"? Can you give actual and expected results

[2019-03-12 15:35] thibaut129 opened #337 "IE11 typeerror object doesn't support property or method 'includes'"
Hi,

Recently with 7.4.2 I have this error on IE :
![image](https://user-images.githubusercontent.com/10886653/54213522-cdf30980-44e4-11e9-91e0-d42b518af373.png)

Do you change something in this version ?

Thx

[2019-03-12 15:38] #298 closed

[2019-03-12 17:11] Serge0111 commented on #330
@basvdijk Hey, try new version 7.6.3, it's been fixed.

[2019-03-12 19:42] luisaureliocasoni commented on #324
Nope. The issue persists in Firefox.

[2019-03-13 00:04] bryanmartinez01 commented on #324
The other problem (selecting all then pressing backspace) was gone, but still, after clearing the text input, the value of the model is 0 not empty.

[2019-03-13 00:05] bryanmartinez01 commented on #324
The other issue (selecting all then pressing backspace) was fixed, but still, after clearing the text input, the value of the model is 0 not empty.

[2019-03-13 02:34] Gustav0ar opened #340 "Latest 7.6.3 version is broken"
Hi,

I updated to latest version 7.6.3 and it is totally broken. All masks give validation error.
Look at the following example:

https://stackblitz.com/edit/angular-cmmj4g-ur9enw

[2019-03-13 08:14] #330 closed

[2019-03-13 09:55] Thegrep01 commented on #304
@ermamud Hello, i did not find this problem, probably in our demo we use clearIfNotMatch with formcontrol and all works good

[2019-03-13 09:55] basvdijk opened #341 "NgModel value contains dot when there is no decimal for dot_separator"
Related to #330 this still gives errors:
![image](https://user-images.githubusercontent.com/644550/54269833-62f61100-457e-11e9-86ca-2da31bfdd7e2.png)
When I enter `1239` in the textbox it is formatted as `1.239` this is correct.
However the model contains `1.239` as well which should be `1239`

[2019-03-13 09:57] basvdijk commented on #330
Thanks, but gives still not working:
![image](https://user-images.githubusercontent.com/644550/54269991-b49e9b80-457e-11e9-9aaf-e46ff0a0596a.png)

The model should contain `0.83` and not `0,83`

[2019-03-13 10:01] Thegrep01 commented on #341
@basvdijk Hello, probably it is not a bug. the field has attribute `[dropSpecialCharacters]="false"`

[2019-03-13 10:03] Thegrep01 commented on #341
@basvdijk if you change it on true or even remove this attribute you will get this
<img width="670" alt="Снимок экрана 2019-03-13 в 12 01 52" src="https://user-images.githubusercontent.com/38587958/54270352-ecf6a780-4587-11e9-8c48-4020df84e83a.png">

[2019-03-13 10:06] basvdijk opened #342 "NgModel value contains comma when dot_separator.2 is used"
![image](https://user-images.githubusercontent.com/644550/54269991-b49e9b80-457e-11e9-9aaf-e46ff0a0596a.png)

The model should contain `0.83` and not `0,83` when using `dot_separator.2`

Maybe useful for unit testing:
`dot_separator.2`:
12 -> 12
12,34 -> 12.34
12.345 -> 12345
12.345,67 -> 12345.67
0,12 -> 0.12

[2019-03-13 10:11] #341 closed

[2019-03-13 10:13] basvdijk opened #343 "Leading zero number gives wrong formatting in textbox and NgModel"
![image](https://user-images.githubusercontent.com/644550/54270865-a6517f00-4580-11e9-9815-aa3675a4f88d.png)

Leading zero should be stripped off when next character isn't a comma. Currently `01.234.567` is possible as an entry. The textfield should show `1.234.567` and the NgModel `1234567`

[2019-03-13 10:13] sheikalthaf commented on #315
@NepipenkoIgor great work 👍

[2019-03-13 10:15] basvdijk commented on #341
It is the code from the repo, where `[dropSpecialCharacters]="true"` is defined
[code]

[2019-03-13 10:20] Thegrep01 commented on #341
@basvdijk Yes, i change it in the last commit and we update demo soon

[2019-03-13 10:36] Thegrep01 commented on #324
@bryanmartinez01 could you provide an example cause i did not find this problem

[2019-03-13 10:39] basvdijk opened #344 "Cursor jumps around when adding numbers to the beginning of textbox"
Run the app and type `0,12` in the second field of thousand separator (yellow line)
![image](https://user-images.githubusercontent.com/644550/54272555-3b09ac00-4584-11e9-8109-4cda26d44fa5.png)

The result is:
![image](https://user-images.githubusercontent.com/644550/54272495-1c0b1a00-4584-11e9-9842-82adbe4e7c58.png)

Now move the cursor to the beginning of the textfield and try to add `345` in ord

[2019-03-13 10:41] basvdijk commented on #341
Ok :) For all my bug reports, I checkout the current branch and run `ng serve`. I am not checking it on the website of the library.

[2019-03-13 10:48] Thegrep01 commented on #252
@AquilesOliveira for now we do not planing integrate our mask with Nativescript

[2019-03-13 10:48] #252 closed

[2019-03-13 12:08] PeterHueer opened #345 "Wrong Documentation"
**Wrong:**

`<input type='text' mask=*percents" sufix="%">`

**Right:**

` <input type='text' mask="percent" sufix="%">`

[2019-03-13 13:10] Serge0111 commented on #342
@basvdijk Hey, Did specify the option  [dropSpecialCharacters]="true", because without it it doesn't work.

[2019-03-13 13:24] ValeriaKochegarova commented on #345
@PeterHueer  we fixed ,

[2019-03-13 13:24] #345 closed

[2019-03-13 13:28] basvdijk commented on #342
@Serge0111 Looks fixed in latest version 👍

[2019-03-13 13:28] #342 closed

[2019-03-13 16:35] Thegrep01 commented on #343
@basvdijk we fix this in 7.6.4

[2019-03-13 16:35] #343 closed

[2019-03-13 16:35] Thegrep01 commented on #340
@Gustav0ar we fix this in 7.6.4

[2019-03-13 16:35] #340 closed

[2019-03-13 18:21] danielephsa commented on #340
Hi @Thegrep01 ! When the 7.6.4 will be available? I just tried to update the 7.6.3 and it says that this version is not available. Thanks!

[2019-03-13 18:38] NepipenkoIgor commented on #340
@danielephsa  I have just published

[2019-03-13 18:44] danielephsa commented on #340
That's awesome! Thanks @NepipenkoIgor !!!

[2019-03-13 19:00] Gustav0ar commented on #333
@Thegrep01 Hi, I just tested with version 7.6.4 and there are still scenarios that it isn't working properly.
It should not give validation error when non of the optional characters aren't entered, and it does at the moment in all cases. Other scenario that I tested that it isn't working is when I type just some optional characters but not all, and it still gives error...

Look at the updated exam

[2019-03-13 19:01] basvdijk commented on #343
@Thegrep01 great :)

[2019-03-14 00:48] bryanmartinez01 commented on #324
I put a change event listener in the text field where I used ngx-mask. I am logging the value of the field everytime the change event is triggered, I get 0 instead of empty.

`<input type="text" class="form-control form-control-sm col-sm-2" [(ngModel)]="sampleModel" (change)="checkSample($event)" mask="999">`

and in my checkSample(ev)
`console.log(this.sampleModel);`

[2019-03-14 02:01] bryanmartinez01 commented on #324
@Thegrep01 I think I found the problem. The ngx-mask is working fine when the initial value is empty. But when the initial value of the model is a number, emptying the text input will set the value of the model to 0 not empty.

`sampleModel = null;`
the value of the `sampleModel` after emptying the text input will be empty

`sampleModel = 1; //or any number`
the value of the `sampleModel` after em

[2019-03-14 07:55] joeystdio opened #349 "Initial cursor position with showMaskTyped enabled"
When showMaskTyped is enabled I need to click at the beginning of an input field to set the cursor at this position. Wouldn't it be more intuitive to just set the cursor to the beginning of the input field of no value is already set?
Now it gives the impression that you start typing after the mask if that's where you clicked.

[2019-03-14 10:17] basvdijk opened #350 "Value formatted incorrectly when ngModel value is set in dot_separator.2 example"
When I checkout the repo and set https://github.com/JsDaddy/ngx-mask/blob/develop/src/app/app.component.ts#L41 to
`public dotPrecisionSeparatorFormModel: double = 91239123.0923;`

It is shown incorrectly in the textbox:
![image](https://user-images.githubusercontent.com/644550/54348946-7d95bc00-464a-11e9-9f05-c627c3c2f92f.png)

It should show: `91.239.123,09`

[2019-03-14 12:25] basvdijk opened #351 "[enhancement] Rename coma -> comma"
The official English spelling is `comma` instead of `coma` https://en.wikipedia.org/wiki/Comma

Maybe reconsider to rename the filter from `coma_separator` to `comma_separator`.

[2019-03-14 12:52] luisaureliocasoni commented on #324
I think that it is the problem. In my system, the input always is filled by previous value.

[2019-03-14 13:28] Yokhtop commented on #312
@ValeriaKochegarova
I'm trying to set signed number mask, it may be negative or positive.
[code]
[code]
The solution is from here: [How to mask optionally negative number?](https://github.com/JsDaddy/ngx-mask/issues/175#issuecomment-426191403)

**Actual result:**
Any symbol can be written to the first place, not only '-'.
When number is positive it doesn't accept the decimal separator after the fi

[2019-03-14 14:27] Yokhtop commented on #287
@Thegrep01 I can't reproduce this in `7.6.4`
https://stackblitz.com/edit/angular-ztu37x

[2019-03-14 15:29] ljjolic opened #352 "Prefix not showing in model or form control"
New to ngx-mask
prefix is not showing in angular formcontrol for reactive forms

[2019-03-14 15:30] Thegrep01 commented on #352
@ljjolic yes it is only decorates your input

[2019-03-14 15:33] ljjolic commented on #352
Is there a way to have it set in the formcontrol ?

[2019-03-14 15:35] Thegrep01 commented on #352
@ljjolic no

[2019-03-14 15:36] ljjolic commented on #352
Would be nice to have a flag to propagate the prefix to formcontrol in futur

thx

[2019-03-14 15:37] #352 closed

[2019-03-14 17:12] ValeriaKochegarova commented on #311
@swathianupuram in version  6.3.8  this case works wrong , because at least one number should not  be optional.

[2019-03-14 17:18] ljjolic opened #354 "Need help"
How can I have the following mask
2L165-00-0000

I know I can use the prefix for "2L165" but has you said this would only be a decorator and not propagated to the formcontrol

Do you have a different solution

I also have a angular validator with regex /^2L165(\-| |){1}\d{2}(\-| |){1}\d{4}$/

with the prefix the validator does not work anymore because it is only receiving 000000
Thx appriciated

[2019-03-14 17:21] ValeriaKochegarova commented on #349
@joeystdio we fixed this you can use it in the latest version

[2019-03-14 17:21] #349 closed

[2019-03-14 17:41] robertons opened #356 "Validation error when dropSpecialCharacters is "false""
I suggest change the part of the code to validate the field when dropSpecialCharacters is false:

[https://github.com/JsDaddy/ngx-mask/blob/develop/src/app/ngx-mask/mask.directive.ts](url)

`const length: number =
                    this._maskValue.length - this._maskService.checkSpecialCharAmount(this._maskValue) - counterOfOpt;`

`const length: number =
                    this._maskService.dro

[2019-03-14 18:01] ljjolic commented on #354
Think I got it

customPatterns={
 '2': {patterns: new RegExp('2'),
 'L': {patterns: new RegExp('L'),
 '1': {patterns: new RegExp('1'),
 '6': {patterns: new RegExp('6'),
 '5': {patterns: new RegExp('5'),
 '0': {patterns: new RegExp('[0-9')
}

Now i can see the 2L165-XX-XXXX in the validator

Or is there a simpler solution

[2019-03-14 18:09] ljjolic commented on #354
ok Works but not with prefix

Like I said earlier it would be nice to have flag to determines if we want the prefix or suffix in the form control

[2019-03-15 07:59] #351 closed

[2019-03-15 08:01] #350 closed

[2019-03-15 08:01] #333 closed

[2019-03-15 09:44] maybe525 opened #357 "mask does not recognize decimals"
I want to use the following mask:

            <input  type="text"
                    class="form-control"
                    mask="dot_separator.2"
                    [formControlName]="valueControlName">

If I type values in the form everything is fine.
The typed value shows correctly as 1.234,50 and is stored as number 1234.50
When I now reload the form the value shows as 12.345
The value is